<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/SuperAdmin/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle7.ListUsersTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body"> 
            <c:if test="#{loginController.checkLogin('SuperAdmin')}">
                <h:form id="UsersListForm">

                    <p:panel header="#{bundle7.ListUsersTitle}">
                        <p:dataTable id="datalist" value="#{usersController.items}" var="item"
                                     selectionMode="single" selection="#{usersController.selected}"
                                     paginator="true"
                                     rowKey="#{item.id}"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     >
                            <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                            <p:ajax event="rowDblselect" update=":UsersViewForm" onsuccess="PF('UsersViewDialog').show()"  />
                            <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>
                            <f:facet name="header">
                                <p:commandButton id="toggler" type="button" value="انتخاب ستون ها" style="float:right" icon="ui-icon-calculator" />
                                <p:columnToggler datasource="datalist" trigger="toggler" />
                            </f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle7.ListUsersTitle_id}"/>
                                </f:facet>
                                <h:outputText value="#{item.id}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="نوع کاربر"/>
                                </f:facet>
                                <h:outputText value="#{item.role == 'SuperAdmin' ? 'مدیریت' :
                                                       item.role == 'Admin' ? 'اپراتور' : 'کاربر'}"/>
                            </p:column>
                            <p:column filterBy="#{item.username}">
                                <f:facet name="header">
                                    <h:outputText value="#{bundle7.ListUsersTitle_username}"/>
                                </f:facet>
                                <h:outputText value="#{item.username}"/>
                            </p:column>
                            <p:column filterBy="#{item.lastlogin}">
                                <f:facet name="header">
                                    <h:outputText value="#{bundle7.ListUsersTitle_lastlogin}"/>
                                </f:facet>
                                <h:outputText value="#{item.lastlogin}">
                                    <f:converter  converterId="persian_date" />
                                </h:outputText>
                            </p:column>
                            <p:column filterBy="#{item.name}">
                                <f:facet name="header">
                                    <h:outputText value="نام"/>
                                </f:facet>
                                <h:outputText value="#{item.name} #{item.familyMfrs}"/>
                            </p:column>
                            <p:column filterBy="#{item.nameFather}">
                                <f:facet name="header">
                                    <h:outputText value="نام پدر"/>
                                </f:facet>
                                <h:outputText value="#{item.nameFather}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle7.ListUsersTitle_createdAt}"/>
                                </f:facet>
                                <h:outputText value="#{item.createdAt}">
                                    <f:converter converterId="persian_date" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle7.ListUsersTitle_updatedAt}"/>
                                </f:facet>
                                <h:outputText value="#{item.updatedAt}">
                                    <f:converter converterId="persian_date"/>
                                </h:outputText>
                            </p:column>

                            <p:column visible="false" >
                                <f:facet name="header">
                                    <h:outputText value="جنسیت"/>
                                </f:facet>
                                <h:outputText value="#{item.sex}"/>
                            </p:column>
                            <p:column visible="false" sortBy="#{item.shCode}" filterBy="#{item.shCode}">
                                <f:facet name="header">
                                    <h:outputText value="شماره شناسنامه"/>
                                </f:facet>
                                <h:outputText value="#{item.shCode}"/>
                            </p:column>
                            <p:column visible="false" sortBy="#{item.shSerialNum}" filterBy="#{item.shSerialNum}">
                                <f:facet name="header">
                                    <h:outputText value="عدد سریال شناسنامه"/>
                                </f:facet>
                                <h:outputText value="#{item.shSerialNum}"/>
                            </p:column>
                            <p:column visible="false" sortBy="#{item.shSerialCh}" filterBy="#{item.shSerialCh}">
                                <f:facet name="header">
                                    <h:outputText value="حروف سریال شناسنامه"/>
                                </f:facet>
                                <h:outputText value="#{item.shSerialCh}"/>
                            </p:column>
                            <p:column visible="false" sortBy="#{item.dateRegisterBirth}" filterBy="#{item.dateRegisterBirth}">
                                <f:facet name="header">
                                    <h:outputText value="تاریخ ثبت/تولد"/>
                                </f:facet>
                                <h:outputText value="#{item.dateRegisterBirth}">
                                    <f:converter converterId="persian_date" />
                                </h:outputText>
                            </p:column>
                            <p:column visible="false" sortBy="#{item.placeRegisterBirth}" filterBy="#{item.placeRegisterBirth}">
                                <f:facet name="header">
                                    <h:outputText value="مکان تولد/ثبت شرکت"/>
                                </f:facet>
                                <h:outputText value="#{item.placeRegisterBirth}"/>
                            </p:column>
                            <p:column visible="false" sortBy="#{item.nationalEconomicalCode}" filterBy="#{item.nationalEconomicalCode}">
                                <f:facet name="header">
                                    <h:outputText value="کد اقتصادی"/>
                                </f:facet>
                                <h:outputText value="#{item.nationalEconomicalCode}"/>
                            </p:column>
                            <p:column visible="false" filterBy="#{item.address}">
                                <f:facet name="header">
                                    <h:outputText value="نشانی"/>
                                </f:facet>
                                <h:outputText value="#{item.address}"/>
                            </p:column>
                            <p:column visible="false" sortBy="#{item.phone}" filterBy="#{item.phone}">
                                <f:facet name="header">
                                    <h:outputText value="تلفن"/>
                                </f:facet>
                                <h:outputText value="#{item.phone}"/>
                            </p:column>
                            <p:column visible="false" filterBy="#{item.mobile}">
                                <f:facet name="header">
                                    <h:outputText value="موبایل"/>
                                </f:facet>
                                <h:outputText value="#{item.mobile}"/>
                            </p:column>
                            <p:column visible="false" sortBy="#{item.email}" filterBy="#{item.email}">
                                <f:facet name="header">
                                    <h:outputText value="ایمیل"/>
                                </f:facet>
                                <h:outputText value="#{item.email}"/>
                            </p:column>
                            <p:column visible="false" sortBy="#{item.postalCode}" filterBy="#{item.postalCode}">
                                <f:facet name="header">
                                    <h:outputText value="کد پستی"/>
                                </f:facet>
                                <h:outputText value="#{item.postalCode}"/>
                            </p:column>
                            <p:column visible="false" >
                                <f:facet name="header">
                                    <h:outputText value="نوع شرکت"/>
                                </f:facet>
                                <h:outputText value="#{item.isCompany eq 1 ? 'حقوقی' : 'حقیقی'}"/>
                            </p:column>
                            <p:column visible="false">
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListSahamTitle_organizationType}"/>
                                </f:facet>
                                <h:outputText value="#{item.organizationType}"/>
                            </p:column>
                            <p:column visible="false">
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListSahamTitle_organizationNature}"/>
                                </f:facet>
                                <h:outputText value="#{item.organizationNature}"/>
                            </p:column>
                            <p:column visible="false" sortBy="#{item.registrationNumber}" filterBy="#{item.registrationNumber}">
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListSahamTitle_registrationNumber}"/>
                                </f:facet>
                                <h:outputText value="#{item.registrationNumber}"/>
                            </p:column>

                            <f:facet name="footer">
                                <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle7.Create}" update=":UsersChooseForm" oncomplete="PF('UsersCreateDlg').show()"/>
                                <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle7.View}" update=":UsersViewForm" oncomplete="PF('UsersViewDialog').show()" disabled="#{empty usersController.selected}"/>
                                <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle7.Edit}" update=":UsersEditForm" oncomplete="PF('UsersEditDialog').show()" disabled="#{empty usersController.selected}"/>
                                <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle7.Delete}" actionListener="#{usersController.destroy}" update=":growl,datalist" disabled="#{empty usersController.selected}">
                                    <p:confirm message="آیا از حذف اطمینان دارید" />
                                </p:commandButton>
                            </f:facet>
                        </p:dataTable>
                    </p:panel>
                </h:form>

                <ui:include src="Create.xhtml"/>
                <ui:include src="Edit.xhtml"/>
                <ui:include src="View.xhtml"/>
            </c:if>
        </ui:define>

    </ui:composition>

</html>
