<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition>

        <p:dialog id="UsersViewDlg" widgetVar="UsersViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle7.ViewUsersTitle}">
            <h:form id="UsersViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2">
                        <p:panelGrid columns="2" rendered="#{usersController.selected != null}">
                            <f:facet name="header">
                                <h:outputText value="اطلاعات امنیتی" />
                            </f:facet>
                            <h:outputText value="#{bundle7.ViewUsersLabel_id}"/>
                            <h:outputText value="#{usersController.selected.id}" title="#{bundle7.ViewUsersTitle_id}"/>
                            <h:outputText value="#{bundle7.ViewUsersLabel_lastlogin}"/>
                            <h:outputText value="#{usersController.selected.lastlogin}" title="#{bundle7.ViewUsersTitle_lastlogin}">
                                <f:converter converterId="persian_date"/>
                            </h:outputText>
                            <h:outputText value="نوع کاربر"/>
                            <h:outputText value="#{usersController.selected.role == 'SuperAdmin' ? 'مدیریت' :
                                                   item.role == 'Admin' ? 'اپراتور' : 'کاربر'}" title="#{bundle7.ViewUsersTitle_role}"/>
                            <h:outputText value="#{bundle7.ViewUsersLabel_username}"/>
                            <h:outputText value="#{usersController.selected.username}" title="#{bundle7.ViewUsersTitle_username}"/>
                            <h:outputText value="#{bundle7.ViewUsersLabel_createdAt}"/>
                            <h:outputText value="#{usersController.selected.createdAt}" title="#{bundle7.ViewUsersTitle_createdAt}">
                                <f:converter converterId="persian_date"/>
                            </h:outputText>
                            <h:outputText value="#{bundle7.ViewUsersLabel_updatedAt}"/>
                            <h:outputText value="#{usersController.selected.updatedAt}" title="#{bundle7.ViewUsersTitle_updatedAt}">
                                <f:converter converterId="persian_date"/>
                            </h:outputText>
                        </p:panelGrid>
                        <p:panelGrid columns="2" rendered="#{usersController.selected != null}">
                            <f:facet name="header">
                                    <h:outputText value="اطلاعات #{usersController.selected.isCompany == 1 ? 'شرکت' : 'شخص'}" />
                                </f:facet>
                            <p:panelGrid columns="2">
                                <c:set value="#{usersController.selected.isCompany == 1 ? 'Co' : 'Pe'}" var="type" />
                                <h:outputText value="#{bundle.ViewSahamLabel_name}"/>
                                <h:outputText value="#{usersController.selected.name}" title="#{bundle.ViewSahamTitle_name}"/>
                                <h:outputText value="#{bundle['ViewSahamLabel_familyMfrs'.concat(type)]}"/>
                                <h:outputText value="#{usersController.selected.familyMfrs}" title="#{bundle['ViewSahamTitle_familyMfrs'.concat(type)]}"/>
                                <c:if test="#{usersController.selected.isCompany == 0}">
                                    <h:outputText value="#{bundle.ViewSahamLabel_sex}"/>
                                    <h:outputText value="#{usersController.selected.sex}" title="#{bundle.ViewSahamTitle_sex}"/>
                                    <h:outputText value="#{bundle.ViewSahamLabel_nameFather}"/>
                                    <h:outputText value="#{usersController.selected.nameFather}" title="#{bundle.ViewSahamTitle_nameFather}"/>
                                </c:if>
                                <h:outputText value="#{bundle['ViewSahamLabel_placeRegisterBirth'.concat(type)]}"/>
                                <h:outputText value="#{usersController.selected.placeRegisterBirth}" title="#{bundle['ViewSahamLabel_placeRegisterBirth'.concat(type)]}"/>
                                <h:outputText value="#{bundle['ViewSahamLabel_nationalEconomicalCode'.concat(type)]}"/>
                                <h:outputText value="#{usersController.selected.nationalEconomicalCode}" title="#{bundle['ViewSahamLabel_nationalEconomicalCode'.concat(type)]}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_address}"/>
                                <h:outputText value="#{usersController.selected.address}" title="#{bundle.ViewSahamTitle_address}"/>
                            </p:panelGrid>

                            <p:panelGrid columns="2">
                                <h:outputText value="#{bundle.ViewSahamLabel_phone}"/>
                                <h:outputText value="#{usersController.selected.phone}" title="#{bundle.ViewSahamTitle_phone}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_mobile}"/>
                                <h:outputText value="#{usersController.selected.mobile}" title="#{bundle.ViewSahamTitle_mobile}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_email}"/>
                                <h:outputText value="#{usersController.selected.email}" title="#{bundle.ViewSahamTitle_email}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_postalCode}"/>
                                <h:outputText value="#{usersController.selected.postalCode}" title="#{bundle.ViewSahamTitle_postalCode}"/>
                                <c:if test="#{usersController.selected.isCompany == 1}">
                                    <h:outputText value="#{bundle.ViewSahamLabel_isCompany}"/>
                                    <h:outputText value="#{usersController.selected.isCompany}" title="#{bundle.ViewSahamTitle_isCompany}"/>
                                    <h:outputText value="#{bundle.ViewSahamLabel_organizationType}"/>
                                    <h:outputText value="#{usersController.selected.organizationType}" title="#{bundle.ViewSahamTitle_organizationType}"/>
                                    <h:outputText value="#{bundle.ViewSahamLabel_organizationNature}"/>
                                    <h:outputText value="#{usersController.selected.organizationNature}" title="#{bundle.ViewSahamTitle_organizationNature}"/>
                                    <h:outputText value="#{bundle.ViewSahamLabel_registrationNumber}"/>
                                    <h:outputText value="#{usersController.selected.registrationNumber}" title="#{bundle.ViewSahamTitle_registrationNumber}"/>

                                </c:if>
                                <c:if test="#{usersController.selected.isCompany == 0}">
                                    <h:outputText value="#{bundle.ViewSahamLabel_shCode}"/>
                                    <h:outputText value="#{usersController.selected.shCode}" title="#{bundle.ViewSahamTitle_shCode}"/>
                                    <h:outputText value="#{bundle.ViewSahamLabel_shSerialNum}"/>
                                    <h:outputText value="#{usersController.selected.shSerialNum}" title="#{bundle.ViewSahamTitle_shSerialNum}"/>
                                    <h:outputText value="#{bundle.ViewSahamLabel_shSerialCh}"/>
                                    <h:outputText value="#{usersController.selected.shSerialCh}" title="#{bundle.ViewSahamTitle_shSerialCh}"/>
                                    <h:outputText value="#{bundle.ViewSahamLabel_dateRegisterBirthPe}"/>
                                    <h:outputText value="#{usersController.selected.dateRegisterBirth}" title="#{bundle.ViewSahamTitle_dateRegisterBirthPe}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                    </h:outputText>
                                </c:if>
                                <h:outputText value="#{bundle.ViewSahamLabel_createdAt}"/>
                                <h:outputText value="#{usersController.selected.createdAt}" title="#{bundle.ViewSahamTitle_createdAt}">
                                    <f:converter converterId="persian_date" />
                                </h:outputText>
                                <h:outputText value="#{bundle.ViewSahamLabel_updatedAt}"/>
                                <h:outputText value="#{usersController.selected.updatedAt}" title="#{bundle.ViewSahamTitle_updatedAt}">
                                    <f:converter converterId="persian_date" />
                                </h:outputText>
                            </p:panelGrid>
                        </p:panelGrid>
                    </p:panelGrid>
                        <p:commandButton value="#{bundle7.Close}" onclick="PF('UsersViewDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
