<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CityCreateDlg" widgetVar="CityCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCityTitle}">
            <h:form id="CityCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cityController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCityLabel_name}" for="name" />
                        <p:inputText id="name" value="#{cityController.selected.name}" title="#{bundle.CreateCityTitle_name}" />
                        <p:outputLabel value="#{bundle.CreateCityLabel_provinceId}" for="provinceId" />
                        <p:selectOneMenu id="provinceId" value="#{cityController.selected.provinceId}" >
                            <f:selectItems value="#{provinceController.itemsAvailableSelectOne}"
                                           var="provinceIdItem"
                                           itemValue="#{provinceIdItem}"
                                           itemLabel="${provinceIdItem.name}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cityController.create}" value="#{bundle.Save}" update="display,:CityListForm:datalist,:growl" oncomplete="handleSubmit(args,'CityCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" type="button" onclick="PF('CityCreateDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
