<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CityEditDlg" widgetVar="CityEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditCityTitle}">
            <h:form id="CityEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cityController.selected != null}">
                        <p:outputLabel value="#{bundle.EditCityLabel_name}" for="name" />
                        <p:inputText id="name" value="#{cityController.selected.name}" title="#{bundle.EditCityTitle_name}" />
                        <p:outputLabel value="#{bundle.EditCityLabel_provinceId}" for="provinceId" />
                        <p:selectOneMenu id="provinceId" value="#{cityController.selected.provinceId}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{provinceController.itemsAvailableSelectOne}"
                                           var="provinceIdItem"
                                           itemValue="#{provinceIdItem}"
                                           itemLabel="#{provinceIdItem.name}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cityController.update}" value="#{bundle.Save}" update="display,:CityListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CityEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" type="button" onclick="PF('CityEditDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
