<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/SuperAdmin/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCityTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <c:if test="#{loginController.checkLogin('SuperAdmin')}">
                <h:form id="CityListForm">
                    <p:panel header="#{bundle.ListCityTitle}">
                        <p:dataTable id="datalist" value="#{cityController.items}" var="item"
                                     selectionMode="single" selection="#{cityController.selected}"
                                     paginator="true"
                                     rowKey="#{item.id}"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     >

                            <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                            <p:ajax event="rowDblselect" update=":CityViewForm" onsuccess="PF('CityViewDialog').show()"  />
                            <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListCityTitle_id}"/>
                                </f:facet>
                                <h:outputText value="#{item.id}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListCityTitle_name}"/>
                                </f:facet>
                                <h:outputText value="#{item.name}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListCityTitle_provinceId}"/>
                                </f:facet>
                                <h:outputText value="#{item.provinceId.name}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListCityTitle_createdAt}"/>
                                </f:facet>
                                <h:outputText value="#{item.createdAt}">
                                    <f:converter converterId="persian_date"/>
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListCityTitle_updatedAt}"/>
                                </f:facet>
                                <h:outputText value="#{item.updatedAt}">
                                    <f:converter converterId="persian_date"/>
                                </h:outputText>
                            </p:column>
                            
                            <f:facet name="footer">
                                <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{cityController.prepareCreate}" update=":CityCreateForm" oncomplete="PF('CityCreateDialog').show()"/>
                                <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":CityViewForm" oncomplete="PF('CityViewDialog').show()" disabled="#{empty cityController.selected}"/>
                                <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":CityEditForm" oncomplete="PF('CityEditDialog').show()" disabled="#{empty cityController.selected}"/>
                                <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{cityController.destroy}" update=":growl,datalist" disabled="#{empty cityController.selected}">
                                    <p:confirm message="آیا از حذف اطمینان دارید" />
                                </p:commandButton>
                            </f:facet>
                        </p:dataTable>
                    </p:panel>
                </h:form>

                <ui:include src="Create.xhtml"/>
                <ui:include src="Edit.xhtml"/>
                <ui:include src="View.xhtml"/>
            </c:if>
        </ui:define>
    </ui:composition>

</html>
