body section {
    background: white;
    margin: 60px auto 120px;
    border-top: 15px solid #313A3D;
    text-align: center;
    padding: 50px 0 110px;
    width: 80%;
    max-width: 1100px;
}
body section h1 {
    margin-bottom: 40px;
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

form {
    /*width: 58.33333%;*/
    margin: 0 auto;
}
form .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    color: #ccc;
}
form .field label {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    background: #313A3D;
    width: 100%;
    padding: 18px 0;
    font-size: 1.45em;
    letter-spacing: 0.075em;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}
form .field label + span {
    font-family: 'SSStandard';
    opacity: 0;
    color: white;
    display: block;
    position: absolute;
    top: 12px;
    left: 7%;
    font-size: 2.8em;
    margin-left: -16px;
    text-shadow: 1px 2px 0 #cd6302;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}
form .field input[type="text"],
form .field textarea {
    border: none;
    background: #E8E9EA;
    width: 100%;
    margin: 0;
    padding: 18px 0;
    padding-left: 19.5%;
    color: #313A3D;
    font-size: 1.4em;
    letter-spacing: 0.05em;
}
form .field input[type="text"]#msg,
form .field textarea#msg {
    height: 18px;
    resize: none;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused {
    outline: none;
}
form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
    padding-bottom: 150px;
}
form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
    width: 18%;
    background: #FD9638;
    color: #313A3D;
}
form .field input[type="text"].focused + label,
form .field textarea.focused + label {
    color: #FD9638;
}
form .field:hover label {
    width: 18%;
    background: #313A3D;
    color: white;
}
.button {
    background: #FD9638;
    color: white;
    -webkit-appearance: none;
    border: none;
    text-transform: uppercase;
    position: relative;
    padding: 13px 50px;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}
.button:hover {
    background: #313A3D;
    color: #FD9638;
}
.button:focus {
    outline: none;
    background: #cd6302;
}

.border{
    border-radius: 100%;
    margin-left: 25%;
    margin-right: 15%;
    width: 108px;
    height: 108px;
    padding: 0px;
    transition: all 0.2s;
    cursor: pointer;
    /* padding-left: 16px; */
    font-size: 16px;
    color: white;
    text-align: right;
    /* padding-right: 15px; */
    background-color: rgba(0,0,0,0.2);
    overflow: hidden;
     -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 50%, transparent 100%);
}
.border .child{
    margin-top: 30px;
    background: red;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,1));
    background: -o-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1));
    background: -moz-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1));
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    height: 79px;
    padding-right: 11px;
    transition: all 0.3s;
    z-index: 1000;
}
.border p:hover + .child{
    margin-top: 5px;
    height: 105px;
}
.border .child:hover,.border .child:focus{
    margin-top: 5px;
    height: 105px;
}
.border p{
    z-index: 0;
    position: absolute;
    margin-top: 44px;
    margin-left: 10px;
}
.border:hover,.border:focus{
    color: white;
    border-color: #cccccc;
}
@media(max-width : 444px){
    .img-right{
        opacity: 0.5;
    }
}

.enjoy-css {
    -webkit-box-reflect: below -5px 
    
    
    
    
    
    
    
    -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.3)));
    position: absolute;
    z-index: 2;
    margin-top: -20px;
    right: 122px;
}