<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PeriodCreateDlg" widgetVar="PeriodCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle8.CreatePeriodTitle}">
            <h:form id="PeriodCreateForm">
                <h:outputScript>
                    $(function(){
                      $("#PeriodCreateForm\\:startDate , #PeriodCreateForm\\:endDate").persianDatepicker();
                    });
                </h:outputScript>
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{periodController.selected != null}">
                        <p:outputLabel value="#{bundle8.CreatePeriodLabel_price}" for="price" />
                        <p:inputText id="price" value="#{periodController.selected.price}" title="#{bundle8.CreatePeriodTitle_price}" required="true" requiredMessage="#{bundle8.CreatePeriodRequiredMessage_price}"/>
                        <p:outputLabel value="#{bundle8.CreatePeriodLabel_startDate}" for="startDate" />
                        <p:inputText id="startDate" value="#{periodController.selected.startDate}" title="#{bundle8.EditPeriodTitle_startDate}" required="true" requiredMessage="#{bundle8.EditPeriodRequiredMessage_startDate}" >
                            <f:converter converterId="persian_date"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle8.CreatePeriodLabel_endDate}" for="endDate" />
                        <p:inputText id="endDate" value="#{periodController.selected.endDate}" title="#{bundle8.EditPeriodTitle_endDate}" required="true" requiredMessage="#{bundle8.EditPeriodRequiredMessage_endDate}" >
                            <f:converter converterId="persian_date"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle8.CreatePeriodLabel_isBase}" for="isBase" />
                        <p:selectBooleanCheckbox id="isBase" value="#{periodController.selected.isBase}" required="true" requiredMessage="#{bundle8.EditPeriodRequiredMessage_isBase}"/>
                        <p:outputLabel value="#{bundle8.CreatePeriodLabel_describtion}" for="describtion" />
                        <p:inputTextarea id="describtion" value="#{periodController.selected.describtion}" title="#{bundle8.CreatePeriodTitle_describtion}" />
                        <p:outputLabel value="تعداد کل جدید" for="CountNew" />
                        <p:inputNumber value="#{periodController.newCount}" id="CountNew" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{periodController.create}" value="#{bundle8.Save}" update="display,:PeriodListForm:datalist,:growl,:NotEqualDlg" oncomplete="handleSubmit(args,'PeriodCreateDialog');PF('NotEqualDlg').show();"/>
                    <p:commandButton type="button" value="#{bundle8.Cancel}" onclick="PF('PeriodCreateDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>
        <p:dialog id="NotEqualDlg" widgetVar="NotEqualDlg" modal="true" >
            <p:panel>
                <h:form id="NotEqualForm">
                    <p:panelGrid columns="2">
                    <p:outputLabel value="مقدار باقی مانده در افزایش سهام" for="ValueNotEqul" />
                    <p:inputText disabled="true" style="color: #000" id="ValueNotEqul" value="#{periodController.notEquals}" />
                    <p:outputLabel for="addcount" value="تعدادی که اضافه میکنید" />
                    <p:inputText value="#{periodController.addSaham}" id="addcount" />
                    <p:outputLabel for="user" value="کاربری که باقی مانده را به آن افزایش می دهید" />
                    <p:selectOneMenu id="user" filter="true" value="#{periodController.user}" >
                        <f:selectItems value="#{usersController.items}" var="item" 
                                       itemValue="#{item}" 
                                       itemLabel="#{item.name} #{item.familyMfrs}"/>
                    </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton value="ثبت اطلاعات" actionListener="#{periodController.addSahamToUser()}" update=":PeriodListForm:datalist,:growl,NotEqualForm"
                                     />
                </h:form>
            </p:panel>
        </p:dialog>

    </ui:composition>
</html>
