<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PeriodEditDlg" widgetVar="PeriodEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle8.EditPeriodTitle}">
            <h:form id="PeriodEditForm">
                <h:panelGroup id="display">
                    <h:outputScript>
                    $(function(){
                      $("#PeriodEditForm\\:startDate , #PeriodEditForm\\:endDate").persianDatepicker();
                    });
                </h:outputScript>
                    <p:panelGrid columns="2" rendered="#{periodController.selected != null}">
                        <p:outputLabel value="#{bundle8.EditPeriodLabel_price}" for="price" />
                        <p:inputText id="price" value="#{periodController.selected.price}" title="#{bundle8.EditPeriodTitle_price}" required="true" requiredMessage="#{bundle8.EditPeriodRequiredMessage_price}"/>
                        <p:outputLabel value="#{bundle8.EditPeriodLabel_startDate}" for="startDate" />
                        <p:inputText id="startDate" value="#{periodController.selected.startDate}" title="#{bundle8.EditPeriodTitle_startDate}" required="true" requiredMessage="#{bundle8.EditPeriodRequiredMessage_startDate}" >
                            <f:converter converterId="persian_date"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle8.EditPeriodLabel_endDate}" for="endDate" />
                        <p:inputText id="endDate" value="#{periodController.selected.endDate}" title="#{bundle8.EditPeriodTitle_endDate}" required="true" requiredMessage="#{bundle8.EditPeriodRequiredMessage_endDate}" >
                            <f:converter converterId="persian_date"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle8.EditPeriodLabel_isBase}" for="isBase" />
                        <p:selectBooleanCheckbox onchange="#{periodController.selected.setIsNow(!periodController.selected.getIsBase())}" id="isBase" value="#{periodController.selected.isBase}" >
                            <f:ajax render="PeriodEditForm" execute="isBase"/>
                        </p:selectBooleanCheckbox>
                        <p:outputLabel value="#{bundle8.EditPeriodLabel_isNow}" for="isNow" />
                        <p:selectBooleanCheckbox id="isNow" onblur="#{periodController.selected.setIsBase(false)}" value="#{periodController.selected.isNow}" >
                            <f:ajax render="PeriodEditForm" execute="isNow"/>
                        </p:selectBooleanCheckbox>
                        <p:outputLabel value="#{bundle8.EditPeriodLabel_describtion}" for="describtion" />
                        <p:inputText id="describtion" value="#{periodController.selected.describtion}" title="#{bundle8.EditPeriodTitle_describtion}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{periodController.update}" value="#{bundle8.Save}" update="display,:PeriodListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PeriodEditDialog');"/>
                    <p:commandButton type="button" value="#{bundle8.Cancel}" onclick="PF('PeriodEditDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
