<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/SuperAdmin/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle8.ListPeriodTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body" >
            <c:if test="#{loginController.checkLogin('SuperAdmin')}">
                <h:form id="PeriodListForm">
                    <p:panel header="#{bundle8.ListPeriodTitle}">
                        <p:dataTable id="datalist" value="#{periodController.items}" var="item"
                                     selectionMode="single" selection="#{periodController.selected}"
                                     paginator="true"
                                     rowKey="#{item.id}"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     >

                            <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                            <p:ajax event="rowDblselect" update=":PeriodViewForm" onsuccess="PF('PeriodViewDialog').show()"  />
                            <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle8.ListPeriodTitle_id}"/>
                                </f:facet>
                                <h:outputText value="#{item.id}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle8.ListPeriodTitle_price}"/>
                                </f:facet>
                                <h:outputText value="#{item.price}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle8.ListPeriodTitle_startDate}"/>
                                </f:facet>
                                <h:outputText value="#{item.startDate}">
                                    <f:converter converterId="persian_date" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle8.ListPeriodTitle_endDate}"/>
                                </f:facet>
                                <h:outputText value="#{item.endDate}">
                                    <f:converter converterId="persian_date" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle8.ListPeriodTitle_isBase}"/>
                                </f:facet>
                                <p:selectBooleanCheckbox value="#{item.isBase}" disabled="true"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle8.ListPeriodTitle_isNow}"/>
                                </f:facet>
                                <p:selectBooleanCheckbox value="#{item.isNow}" disabled="true"/>
                            </p:column>
                            <p:column sortBy="#{item.oldCount}" filterBy="#{item.oldCount}">
                                <f:facet name="header">
                                    <h:outputText value="مقدار سهام قبلی" />
                                </f:facet>
                                <h:outputText value="#{item.oldCount}" />
                            </p:column>
                            <p:column sortBy="#{item.newCount}" filterBy="#{item.newCount}">
                                <f:facet name="header">
                                    <h:outputText value="مقدار سهام جدید" />
                                </f:facet>
                                <h:outputText value="#{item.newCount}" />
                            </p:column>
                            <p:column sortBy="#{item.notEquale}" filterBy="#{ item.notEquale}">
                                <f:facet name="header">
                                    <h:outputText value="مقدار سهام باقی مانده" />
                                </f:facet>
                                <h:outputText value="#{item.notEquale}" />
                            </p:column>
                            <p:column >
                                <f:facet name="header">
                                    <h:outputText value=" افزایش به ازای هر سهم"/>
                                </f:facet>
                                <h:outputText value="#{item.sharesOffer}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle8.ListPeriodTitle_describtion}"/>
                                </f:facet>
                                <h:outputText value="#{item.describtion}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle8.ListPeriodTitle_createdAt}"/>
                                </f:facet>
                                <h:outputText value="#{item.createdAt}">
                                    <f:converter converterId="persian_date" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle8.ListPeriodTitle_updatedAt}"/>
                                </f:facet>
                                <h:outputText value="#{item.updatedAt}">
                                    <f:converter converterId="persian_date" />
                                </h:outputText>
                            </p:column>
                            <f:facet name="footer">
                                <c:if test="#{periodController.checkNotEquale()}">
                                    <p:commandButton  update=":growl,:NotEqualDlg" oncomplete="PF('NotEqualDlg').show();" value="تخصیص سهام باقی مانده" />
                                </c:if>
                                <p:commandButton id="createButton" disabled="#{periodController.checkNotEquale() ? true : false}"  title="#{periodController.checkNotEquale() ? 'تعدادی سهام بلاتکلیف موجود می باشد' : 'افزودن'}" icon="ui-icon-plus"   value="#{bundle8.Create}" actionListener="#{periodController.prepareCreate}" update=":PeriodCreateForm" oncomplete="PF('PeriodCreateDialog').show()"/>
                                <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle8.View}" update=":PeriodViewForm" oncomplete="PF('PeriodViewDialog').show()" disabled="#{empty periodController.selected}"/>
                                <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle8.Edit}" update=":PeriodEditForm" oncomplete="PF('PeriodEditDialog').show()" disabled="#{empty periodController.selected}"/>
                                <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle8.Delete}" actionListener="#{periodController.destroy}" update=":growl,datalist" disabled="#{empty periodController.selected}">
                                  <p:confirm message="آیا از حذف اطمینان دارید" />
                                </p:commandButton>
                            </f:facet>
                        </p:dataTable>
                    </p:panel>
                </h:form>

                <ui:include src="Create.xhtml"/>
                <ui:include src="Edit.xhtml"/>
                <ui:include src="View.xhtml"/>
            </c:if>
        </ui:define>
    </ui:composition>

</html>
