<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PeriodViewDlg" widgetVar="PeriodViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle8.ViewPeriodTitle}">
            <h:form id="PeriodViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{periodController.selected != null}">
                        <h:outputText value="#{bundle8.ViewPeriodLabel_id}"/>
                        <h:outputText value="#{periodController.selected.id}" title="#{bundle8.ViewPeriodTitle_id}"/>
                        <h:outputText value="#{bundle8.ViewPeriodLabel_price}"/>
                        <h:outputText value="#{periodController.selected.price}" title="#{bundle8.ViewPeriodTitle_price}"/>
                        <h:outputText value="#{bundle8.ViewPeriodLabel_startDate}"/>
                        <h:outputText value="#{periodController.selected.startDate}" title="#{bundle8.ViewPeriodTitle_startDate}">
                            <f:converter converterId="persian_date" />
                        </h:outputText>
                        <h:outputText value="#{bundle8.ViewPeriodLabel_endDate}"/>
                        <h:outputText value="#{periodController.selected.endDate}" title="#{bundle8.ViewPeriodTitle_endDate}">
                            <f:converter converterId="persian_date" />
                        </h:outputText>
                        <h:outputText value="#{bundle8.ViewPeriodLabel_isBase}"/>
                        <p:selectBooleanCheckbox value="#{periodController.selected.isBase}" disabled="true"/>
                        <h:outputText value="#{bundle8.ViewPeriodLabel_isNow}"/>
                        <p:selectBooleanCheckbox value="#{periodController.selected.isNow}" disabled="true"/>
                        <h:outputText value="#{bundle8.ViewPeriodLabel_describtion}"/>
                        <h:outputText value="#{periodController.selected.describtion}" title="#{bundle8.ViewPeriodTitle_describtion}"/>
                        <h:outputText value="#{bundle8.ViewPeriodLabel_createdAt}"/>
                        <h:outputText value="#{periodController.selected.createdAt}" title="#{bundle8.ViewPeriodTitle_createdAt}">
                            <f:converter converterId="persian_date" />
                        </h:outputText>
                        <h:outputText value="#{bundle8.ViewPeriodLabel_updatedAt}"/>
                        <h:outputText value="#{periodController.selected.updatedAt}" title="#{bundle8.ViewPeriodTitle_updatedAt}">
                            <f:converter converterId="persian_date" />
                        </h:outputText>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle8.Close}" onclick="PF('PeriodViewDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
