<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/SuperAdmin/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle2.ListContactTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ContactListForm">
                <p:panel header="#{bundle2.ListContactTitle}">
                    <p:dataTable id="datalist" value="#{contactController.items}" var="item"
                                 selectionMode="single" selection="#{contactController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="viewButton deleteButton"/>
                        <p:ajax event="rowDblselect" update=":ContactViewForm" onsuccess="PF('ContactViewDialog').show()"  />
                        <p:ajax event="rowUnselect" update="viewButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle2.ListContactTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle2.ListContactTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle2.ListContactTitle_mobile}"/>
                            </f:facet>
                            <h:outputText value="#{item.mobile}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle2.ListContactTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle2.ListContactTitle_msg}"/>
                            </f:facet>
                            <h:outputText value="#{item.msg}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle2.ListContactTitle_createdAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.createdAt}">
                                <f:converter converterId="persian_date"/>
                            </h:outputText>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle2.View}" update=":ContactViewForm" oncomplete="PF('ContactViewDialog').show()" disabled="#{empty contactController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle2.Delete}" actionListener="#{contactController.destroy}" update=":growl,datalist" disabled="#{empty contactController.selected}">
                                <p:confirm message="آیا از حذف اطمینان دارید" />
                            </p:commandButton>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
