<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f = "http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head rendered="#{loginController.checkLogin('User')}">
        <title><ui:insert name="title">Default title</ui:insert></title>
        <ui:insert name="head" />
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputStylesheet library="css" name="persianDatepicker-default.css"/>
        <h:outputStylesheet library="css" name="bootstrap.rtl.css" />
        <h:outputScript library="js" name="jsfcrud.js"/>
        <h:outputScript library="js" name="persianDatepicker.min.js"/>
    </h:head>      
    <h:body rendered="#{loginController.checkLogin('User')}">
        <p:growl id="growl" life="3000" />
        <h:form>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="بله" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="خیر" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </h:form>

        <h:form>  
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">#{UserPanel.user.name} #{UserPanel.user.familyMfrs}</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="#{view.viewId eq '/User/status.xhtml' ? 'active' :''}"><a href="#{request.contextPath}/User/status.xhtml">مشخصات سهام <span class="sr-only">(current)</span></a></li>
                            <li class="#{view.viewId eq '/User/profile.xhtml' ? 'active' : ''}"><a href="#{request.contextPath}/User/profile.xhtml">پروفایل</a></li>
                            <li class="#{view.viewId eq '/User/message.xhtml' ? 'active' : ''}"><a href="#{request.contextPath}/User/message.xhtml" >پیام ها</a></li>
                        </ul>
                        <ul class="nav navbar-left">
                            <li><p:commandLink value="خروج" action="#{loginController.logout()}"/></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </h:form>

        <ui:insert name="body" />
        <style>
            form a{
                color: black !important;
            }
        </style>

        <ui:insert name="script" />
        <h:outputScript library="js" name="bootstrap.min.js"/>
    </h:body>
</html>
