<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f = "http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <ui:composition template="/User/index.xhtml">
        <ui:define name="body" >
            <div class="container" style="background-color: #FBFBFB;min-height: 600px;color: #7A8486;">
                <div class="col-lg-12">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <h4>پیام های کاربران</h4>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <h5 class="pull-left">راهنمایی :‌
                            <span style="background-color:#EDF7FF; padding: 5px">ارسال شده توسط مدیریت</span>
                        </h5>
                    </div>
                </div>
                <style>
                    .admins{
                        background-color: #99ccff ;
                    }
                </style>
                <div class="col-lg-12 form-group">
                    <h:form>
                        <p:dataTable id="datalist" var="item" 
                                     value="#{UserPanel.user.messagesCollection}"
                                     selectionMode="single"
                                     selection="#{UserPanel.selectMessage}" 
                                     rowKey="#{item.id}"
                                     rowStyleClass="#{item.messageType eq 2 ? 'admins' :''}">
                            <f:facet name="header">
                                پیام های کاربر
                            </f:facet>
                            <p:column headerText="پیام">
                                <h:outputText value="#{item.message}" />
                            </p:column>
                            <p:column headerText="وضعیت">
                                <span style="color: #{item.isRead == false ? 'red':'#009999'}">#{item.isRead == false ? 'خوانده نشده' : 'خوانده شده'}</span>
                            </p:column>
                            <p:column headerText="زمان ارسال">
                                <h:outputText value="#{item.createdAt}">
                                    <f:converter converterId="persian_date" />
                                </h:outputText>
                            </p:column>
                            <f:facet name="footer">
                                <p:commandButton process="datalist" update=":ShowMessageForm,datalist" icon="ui-icon-search" actionListener="#{UserPanel.messageRead()}" value="نمایش" oncomplete="PF('ShowMessage').show()" />
                            </f:facet>
                        </p:dataTable>
                    </h:form>
                    
                    <h:form>
                        <p:commandButton oncomplete="PF('SendMessage').show()" value="ارسال پیام" />
                    </h:form>
                    <p:dialog id="Sendmessage" widgetVar="SendMessage" resizable="true">
                        <h:form>
                            <p:panelGrid columns="2">
                                <p:outputLabel value="پیام" for="message" />
                                <p:inputTextarea value="#{UserPanel.message.message}" required="true" requiredMessage="متن پیام نمی تواند خالی باشد" a:placeholder='Message' id="message"/>
                            </p:panelGrid>
                            <p:commandButton update="@form,:growl" action="#{UserPanel.createMessage()}" value="ارسال پیام" />
                        </h:form>
                    </p:dialog>
                    <p:dialog id="ShowMessage" widgetVar="ShowMessage" >
                        <h:form id="ShowMessageForm">
                            <p:panelGrid columns="2">
                                <p:outputLabel value="متن پیام" for="messages" />
                                <h:outputText id="messages" value="#{UserPanel.selectMessage.message}" />
                                <p:outputLabel for="dateSend" value="زمان ارسال" />
                                <h:outputText id="dateSend" value="#{UserPanel.selectMessage.createdAt}" >
                                    <f:converter converterId="persian_date" />
                                </h:outputText>
                            </p:panelGrid>
                        </h:form>
                    </p:dialog>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>
