<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f = "http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <ui:composition template="/User/index.xhtml">
        <ui:define name="body">
            <div class="container">
                <h:form>
                    <h4>پروفایل</h4>
                    <div class="col-lg-12">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <label>نام کاربری جدید : </label>
                            <p:inputText value="#{UserPanel.user.username}" a:placeholder="UserName" styleClass="form-control" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <label>رمز عبور جدید : </label>
                            <p:inputText value="#{UserPanel.pswd1}" styleClass="form-control" a:placeholder="New Password" />
                            <label>تکرار رمز عبور: </label>
                            <p:inputText value="#{UserPanel.pswd2}" styleClass="form-control" a:placeholder="Confirm Password" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <p:commandButton update="@form,growl" action="#{UserPanel.updateProfile()}" value="ثبت اطلاعات" />
                        </div>
                    </div>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>

</html>
