<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:b="http://bootsfaces.net/ui">
    <ui:composition template="/User/index.xhtml">
        <ui:define name="body">
            <div class="container">
                <c:if test="#{UserPanel.now.oldCount != UserPanel.now.newCount}">
                    <h3>شرکت با افزایش سهام روبه رو شده است</h3>
                    <h3>اولویت خرید با سهامداران می باشد شما می توانید تا <span>#{UserPanel.roundNumber(UserPanel.user.saham[0].count * UserPanel.now.sharesOffer)}</span> <span>خرید نمائید</span></h3>
                </c:if>
                <h3>نمایش اطلاعات سهام</h3>
                <h:form>
                    <div class="col-lg-12">
                        <div class="row">

                            <table class="table table-hover table-hover table-bordered">
                                <thead>
                                    <th>
                                        شماره برگه سهام 
                                    </th>
                                    <th>
                                        تعداد 
                                    </th>
                                    <th>
                                        مبلغ مرحله اول 
                                    </th>
                                    <th>
                                        مبلغ آخرین مرحله
                                    </th>
                                    <th>
                                        عملیات
                                    </th>
                                </thead>
                                <tbody>
                                    <ui:repeat value="#{UserPanel.user.saham}" var="item">
                                        <tr>
                                            <td>
                                                #{item.serialNo}
                                            </td>
                                            <td>
                                                #{item.count}
                                            </td>
                                            <td>
                                                #{UserPanel.base.price * item.count}
                                            </td>
                                            <td>
                                                #{UserPanel.now.price * item.count}
                                            </td>
                                            <td>
                                                <p:commandButton action="#{UserPanel.setSahamSelected(item)}"
                                                                 update=":ShowPrintForm" oncomplete="PF('ShowPrintDlg').show()"
                                                                 value="پرینت برگه سهام" />  
                                            </td>
                                        </tr>
                                    </ui:repeat>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </h:form>
                <p:dialog id="ShowPrintDlg" widgetVar="ShowPrintDlg" width="1000" modal="true" >
                    <h:form styleClass="printst" id="ShowPrintForm">
                        <style>
                            .qrCode{
                                position: fixed;
                                margin-top: 320px;
                                margin-right: 20px;
                                background-color: #FFFFFF;
                            }
                            .printImg{
                                width: 100%;
                                height: 450px;
                            }
                            @media print{
                                @page {size: landscape !important}
                                .printImg{
                                    width:  100%;
                                    height:  auto;
                                    max-height: 580px;
                                    /*transform: rotate(90deg);*/
                                    /*margin-top: 100px;*/
                                    /*margin-left: 200px;*/
                                }
                                .qrCode{
                                    margin-top: 410px !important;
                                }
                                #ShowPrintForm{
                                    direction: rtl;
                                }
                            }
                        </style>
                        <b:row>
                            <span class="qrCode">
                                <pe:qrCode id="qrCodeElem"   
                                           renderMethod="#{UserPanel.renderMethod}"   
                                           renderMode="#{UserPanel.mode}"   
                                           text="#{UserPanel.text}"  
                                           label="#{UserPanel.label}"  
                                           size="#{UserPanel.size}"                   
                                           fillColor="#{UserPanel.fillColor}"  
                                           fontName="Ubuntu"  
                                           fontColor="#01A9DB"  
                                           ecLevel="H"                     
                                           radius="0.5"
                                           background="#ffffff"
                                           /> 
                            </span>
                            <p:graphicImage cache="true" styleClass="printImg" id="printImg" style="z-index: 0" value="/Price"/>
                            <br/>
                        </b:row>
                    </h:form>
                    <h:form>
                        <p:commandButton  value="پرینت">
                            <p:printer target="ShowPrintForm"/>
                        </p:commandButton>
                        <p:commandButton type="button" value="بستن" onclick="PF('ShowPrintDlg').hide()" />
                    </h:form>
                </p:dialog>
                <div class="col-lg-12">
                    <div class="col-lg-6 col-sm-12">
                        <h3>مدارک ارسال شده</h3>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <h:form>
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="افزودن مدارک" actionListener="#{UserPanel.prepareCreate}" update=":addData" oncomplete="PF('AddData').show()"/>
                        </h:form>
                    </div>
                </div>

                <h:form>
                    <ui:repeat value="#{UserPanel.documents}" var="item" varStatus="index">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <h4>#{index.index + 1}- <span>نوع مدرک</span> : <span><h:outputText value="#{
                                          item.order == 1 ? 'تصویر روی کارت ملی':
                                          item.order == 2 ? 'تصویر پشت کارت ملی':
                                          item.order == 3 ? 'صفحه اول شناسنامه' : 
                                          item.order == 4 ? 'صفحه دوم شناسنامه' : 
                                          item.order == 5 ? 'صفحه سوم شناسنامه' :
                                          item.order == 6 ? 'تصویر برگه سهام':
                                          item.order == 7 ? 'تصویر فیش واریزی' : ''
                                            }" /></span></h4>
                                    <h5>
                                        <span>وضعیت</span> : 
                                        <span style="color:#{item.active == true ? '#255625' :'red'}">#{item.active == true ? 'تائید شده' :'تائید نشده'}</span>
                                    </h5>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <img class="img img-responsive thumbnail" src="#{request.contextPath}/images/document/#{item.file}" width="400px" height="auto" />
                                </div>
                            </div>
                        </div>
                    </ui:repeat>
                </h:form>
                <c:if test="#{ empty UserPanel.order(1) ||
                               empty UserPanel.order(2) ||
                               empty UserPanel.order(3) ||
                               empty UserPanel.order(4) ||
                               empty UserPanel.order(5)
                              }">
                    <div class="col-lg-12" style="color: #006666;padding: 10px;background-color: #ffcccc">
                        <span><h4>مدارکی که باید آن ها اضافه کنید</h4></span> 
                        <p>#{ not empty UserPanel.order(1)  ? '' : 'تصویر روی کارت ملی'}</p>
                        <p>#{not empty UserPanel.order(2) ? '' : 'تصویر پشت کارت ملی'}</p>
                        <p>#{not empty UserPanel.order(3) ? '' : 'صفحه اول شناسنامه'}</p>
                        <p>#{not empty UserPanel.order(4) ? '' : 'صفحه دوم شناسنامه'}</p>
                        <p>#{not empty UserPanel.order(5) ? '' : 'صفحه سوم شناسنامه'}</p>
                    </div>
                </c:if>
                <p:dialog id="addData" widgetVar="AddData" resizable="true"  header="افزودن مدارک">
                    <h:form enctype="multipart/form-data">
                        <p:panelGrid columns="2" style="width: 100%">
                            <p:outputLabel for="file" value="تصویر" />
                            <p:fileUpload id="file" mode="simple" skinSimple="true" value="#{UserPanel.file}" required="true"/>
                            <p:outputLabel value="نوع مدرک" for="order1" />
                            <p:selectOneMenu id="order1" value="#{UserPanel.newDocument.order}">
                                <c:if test="#{ empty UserPanel.order(1)}">
                                    <f:selectItem itemLabel="تصویر روی کارت ملی" itemValue="1"/>
                                </c:if>
                                <c:if test="#{ empty UserPanel.order(2)}">
                                    <f:selectItem itemLabel="تصویر پشت کارت ملی" itemValue="2"/>
                                </c:if>
                                <c:if test="#{ empty UserPanel.order(3)}">
                                    <f:selectItem itemLabel="صفحه اول شناسنامه" itemValue="3"/>
                                </c:if>
                                <c:if test="#{ empty UserPanel.order(4)}">
                                    <f:selectItem itemLabel="صفحه دوم شناسنامه" itemValue="4"/>
                                </c:if>
                                <c:if test="#{ empty UserPanel.order(5)}">
                                    <f:selectItem itemLabel="صفحه سوم شناسنامه" itemValue="5"/>
                                </c:if>
                                <f:selectItem itemLabel="تصویر برگه سهام" itemValue="6"/>
                                <f:selectItem itemLabel="تصویر فیش واریزی" itemValue="7"/>
                                <f:selectItem itemLabel="متفرقه" itemValue="8"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="توضیحات" for="describtion" />
                            <p:inputTextarea styleClass="form-control" id="describtion" value="#{UserPanel.newDocument.describtion}" a:placeholder="Describtion"/>
                        </p:panelGrid>

                        <p:commandButton styleClass="btn btn-success" ajax="false" actionListener="#{UserPanel.create}" value="افزودن مدرک" />
                    </h:form>
                </p:dialog>
                <div class="col-lg-12" style="padding: 10px;margin-bottom: 10px;">
                    <h:form>
                        <h4>پروفایل</h4>
                        <!--                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                                    <label>تعداد سهام :</label>
                                                    <p:inputText value="{UserPanel.user.count}" required="true" requiredMessage="تعداد سهام نمی تواند خالی باشد" styleClass="form-control" a:placeholder="Phone"/>
                                                </div>-->
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <label>تلفن :</label>
                            <p:inputText value="#{UserPanel.user.phone}" required="true" requiredMessage="تلفن نمی تواند خالی باشد" styleClass="form-control" a:placeholder="Phone"/>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <label>موبایل :</label>
                            <p:inputText value="#{UserPanel.user.mobile}" required="true" requiredMessage="تلفن همراه نمی تواند خالی باشد" styleClass="form-control" a:placeholder="Mobile" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <label>کد پستی :</label>
                            <p:inputText value="#{UserPanel.user.postalCode}" required="true" requiredMessage="کد پستی نمی تواند خالی باشد" styleClass="form-control" a:placeholder="Postal Code" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <label>آدرس ایمیل :</label>
                            <p:inputText value="#{UserPanel.user.email}" styleClass="form-control" a:placeholder="Email"/>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <label>آدرس : </label>
                            <p:inputTextarea value="#{UserPanel.user.address}" a:placeholder="Address" styleClass="form-control" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <p:commandButton update="@form,growl" styleClass="pull-left" action="#{UserPanel.updateSaham()}" value="ویرایش اطلاعات" />
                        </div>
                    </h:form>
                </div>
            </div>
            <h:outputScript>
                function print(component) {
                var out = document.createElement('div');
                out.appendChild(PF('ShowPrintForm').exportAsImage());
                var innerHTML = out.innerHTML;
                var openWindow = window.open('', 'Report', '');
                openWindow.document.write(innerHTML);
                openWindow.document.close();
                openWindow.focus();
                openWindow.print();
                openWindow.close();
                }
                function PrintContent()
                {
                var DocumentContainer = document.getElementById('ShowPrintForm');
                var WindowObject = window.open("", "PrintWindow",
                "width=750,height=650,top=50,left=50,toolbars=no,scrollbars=yes,status=no,resizable=yes");
                WindowObject.document.writeln(DocumentContainer.innerHTML);
                WindowObject.document.close();
                WindowObject.focus();
                WindowObject.print();
                WindowObject.close();
                }
            </h:outputScript>
        </ui:define>
    </ui:composition>
</html>
