<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProvinceEditDlg" widgetVar="ProvinceEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditProvinceTitle}">
            <h:form id="ProvinceEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{provinceController.selected != null}">
                        <p:outputLabel value="#{bundle.EditProvinceLabel_name}" for="name" />
                        <p:inputText id="name" value="#{provinceController.selected.name}" title="#{bundle.EditProvinceTitle_name}" />
                        <p:outputLabel value="#{bundle.EditProvinceLabel_code}" for="code" />
                        <p:inputText id="code" value="#{provinceController.selected.code}" title="#{bundle.EditProvinceTitle_code}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{provinceController.update}" value="#{bundle.Save}" update="display,:ProvinceListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ProvinceEditDialog');"/>
                    <p:commandButton type="button" value="#{bundle.Cancel}" onclick="PF('ProvinceEditDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
