<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/SuperAdmin/template.xhtml">
            <ui:define name="title">
                <h:outputText value="#{bundle.ListProvinceTitle}"></h:outputText>
            </ui:define>

        <ui:define name="body">
            <c:if test="#{loginController.checkLogin('SuperAdmin')}">
                <h:form id="ProvinceListForm">
                    <p:panel header="#{bundle.ListProvinceTitle}">
                        <p:dataTable id="datalist" value="#{provinceController.items}" var="item"
                                     selectionMode="single" selection="#{provinceController.selected}"
                                     paginator="true"
                                     rowKey="#{item.id}"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     >

                            <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                            <p:ajax event="rowDblselect" update=":ProvinceViewForm" onsuccess="PF('ProvinceViewDialog').show()"  />
                            <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListProvinceTitle_id}"/>
                                </f:facet>
                                <h:outputText value="#{item.id}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListProvinceTitle_name}"/>
                                </f:facet>
                                <h:outputText value="#{item.name}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListProvinceTitle_code}"/>
                                </f:facet>
                                <h:outputText value="#{item.code}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListProvinceTitle_createdAt}"/>
                                </f:facet>
                                <h:outputText value="#{item.createdAt}">
                                    <f:converter converterId="persian_date" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.ListProvinceTitle_updatedAt}"/>
                                </f:facet>
                                <h:outputText value="#{item.updatedAt}">
                                    <f:converter converterId="persian_date" />
                                </h:outputText>
                            </p:column>
                            <f:facet name="footer">
                                <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{provinceController.prepareCreate}" update=":ProvinceCreateForm" oncomplete="PF('ProvinceCreateDialog').show()"/>
                                <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ProvinceViewForm" oncomplete="PF('ProvinceViewDialog').show()" disabled="#{empty provinceController.selected}"/>
                                <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ProvinceEditForm" oncomplete="PF('ProvinceEditDialog').show()" disabled="#{empty provinceController.selected}"/>
                                <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{provinceController.destroy}" update=":growl,datalist" disabled="#{empty provinceController.selected}">
                                    <p:confirm message="آیا از حذف اطمینان دارید" />
                                </p:commandButton>
                            </f:facet>
                        </p:dataTable>
                    </p:panel>
                </h:form>

                <ui:include src="Create.xhtml"/>
                <ui:include src="Edit.xhtml"/>
                <ui:include src="View.xhtml"/>
                </c:if>
            </ui:define>
    </ui:composition>

</html>
