<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition>

        <p:dialog id="UsersCreateDlg" widgetVar="UsersCreateDlg" modal="true" resizable="false" appendTo="@(body)" header="نوع شخص">
            <h:form id="UsersChooseForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2">
                        <p:commandButton id="createButtonPerson" icon="ui-icon-plus" update="UsersCreateDialog"  value="حقیقی" actionListener="#{usersController.prepareCreate(false)}"  oncomplete="PF('UsersCreateDialog').show();PF('UsersCreateDlg').hide()"/>
                        <p:commandButton id="createButtonCompany" icon="ui-icon-plus" update="UsersCreateDialog"  value="حقوقی" actionListener="#{usersController.prepareCreate(true)}"  oncomplete="PF('UsersCreateDialog').show();PF('UsersCreateDlg').hide()"/>
                    </p:panelGrid>
                </h:panelGroup>
            </h:form>
        </p:dialog>

        <p:dialog id="UsersCreateDialog" widgetVar="UsersCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle7.CreateUsersTitle}">
            <h:form id="UsersCreateForm">
                <h:outputScript>
                    $(function () {
                    $("#UsersCreateForm\\:dateRegister , #UsersCreateForm\\:dateRegisterBirth").persianDatepicker();
                    });
                </h:outputScript>
                <h:panelGroup id="display">
                    <p:panelGrid columns="3">
                        <p:panelGrid  columns="2" rendered="#{usersController.selected != null}">
                            <f:facet name="header">
                                <h:outputText value="تنظیمات امنیتی" />
                            </f:facet>
                            <p:outputLabel value="#{bundle7.CreateUsersLabel_username}" for="username" />
                            <p:inputText id="username" value="#{usersController.selected.username}" title="#{bundle7.CreateUsersTitle_username}" required="true" requiredMessage="نام کاربری را وارد کنید" />
                            <p:outputLabel value="#{bundle7.CreateUsersLabel_password}" for="password" />
                            <p:inputText id="password" value="#{usersController.selected.password}" title="#{bundle7.CreateUsersTitle_password}" required="true" requiredMessage="رمز عبور را وارد کنید" />
                            <p:outputLabel value="#{bundle7.CreateUsersLabel_role}" for="role" />
                            <p:selectOneMenu id="role" value="#{usersController.selected.role}">
                                <f:selectItem itemValue="SuperAdmin" itemLabel="مدیریت" />
                                <f:selectItem itemValue="Admin" itemLabel="اپراتور" />
                                <f:selectItem itemValue="User" itemLabel="سهامدار" />
                            </p:selectOneMenu>
                        </p:panelGrid>
                        <c:if test="#{usersController.isCompany}">
                            <p:panelGrid columns="2">
                                <f:facet name="header">
                                    <h:outputText value="اطلاعات #{usersController.isCompany ? 'شرکت' : 'شخص'}" />
                                </f:facet>
                                <p:panelGrid columns="2">
                                    <p:outputLabel value="نام شرکت" for="name" />
                                    <p:inputText id="name" value="#{usersController.selected.name}" title="نام شرکت را وارپ کنید" />
                                    <p:outputLabel value="نام مدیر عامل" for="familyMfrs" />
                                    <p:inputText id="familyMfrs" value="#{usersController.selected.familyMfrs}" required="true" requiredMessage="نام مدیر عامل شرکت را وارد کنید"/>
                                    <p:outputLabel value="زمان ثبت شرکت" for="dateRegisterBirth" />
                                    <p:inputText id="dateRegisterBirth" value="#{usersController.selected.dateRegisterBirth}" >
                                        <f:converter converterId="persian_date" />
                                    </p:inputText>
                                    <p:outputLabel value="محل ثبت شرکت" for="placeRegisterBirth" />
                                    <p:inputText id="placeRegisterBirth" value="#{usersController.selected.placeRegisterBirth}"   required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_placeRegisterBirth}"/>
                                    <p:outputLabel value="شماره اقتصادی" for="nationalEconomicalCode" />
                                    <p:inputNumber minValue="0" id="nationalEconomicalCode" value="#{usersController.selected.nationalEconomicalCode}"  required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_nationalEconomicalCode}"/>
                                    <p:outputLabel value="استان" for="province" />
                                    <p:selectOneMenu  id="province" value="#{usersController.selected.province}"  >
                                        <p:ajax update="city phone" />
                                        <c:if test="#{usersController.selected != null}">
                                            <f:selectItems value="#{provinceController.itemsAvailableSelectOne}" var="item" itemLabel="#{item.name}" itemValue="#{item}" />
                                        </c:if>
                                    </p:selectOneMenu>
                                </p:panelGrid>
                                <p:panelGrid columns="2">
                                    <p:outputLabel value="تلفن" for="phone" />
                                    <p:inputMask disabled="#{usersController.selected.province == null}" mask="#{usersController.selected.province.code}-99999999" id="phone" value="#{usersController.selected.phone}"  required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_phone}"/>
                                    <p:outputLabel value="تلفن همراه" for="mobile" />
                                    <p:inputMask mask="09999999999" id="mobile" value="#{usersController.selected.mobile}" required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_mobile}"/>
                                    <p:outputLabel value="آدرس" for="address" />
                                    <p:inputText id="address" value="#{usersController.selected.address}"  required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_address}"/>  
                                    <p:outputLabel value="ایمیل" for="email" />
                                    <p:inputText id="email" value="#{usersController.selected.email}"  required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_email}"/>
                                    <p:outputLabel value="کد پستی" for="postalCode" />
                                    <p:inputMask mask="99999-99999" id="postalCode" value="#{usersController.selected.postalCode}"  required="true" requiredMessage="Post code required"/>
                                    <p:outputLabel value="نوع کمپانی" for="organizationType" />
                                    <p:selectOneMenu editable="true" id="organizationType" value="#{usersController.selected.organizationType}"  >
                                        <f:selectItems value="#{usersController.typeCompany}" var="item" />
                                    </p:selectOneMenu>
                                    <p:outputLabel value="ماهیت" for="organizationNature" />
                                    <p:selectOneMenu editable="true" id="organizationNature" value="#{usersController.selected.organizationNature}"  >
                                        <f:selectItems value="#{usersController.typeCompany}" var="item" />
                                    </p:selectOneMenu>
                                    <p:outputLabel value="کد ثبت" for="registrationNumber" />
                                    <p:inputNumber id="registrationNumber" value="#{usersController.selected.registrationNumber}"  />
                                    <p:outputLabel value="شهر" for="city" />
                                    <p:selectOneMenu disabled="#{usersController.selected.province==null}"  id="city" value="#{usersController.selected.city}"  >
                                        <f:selectItems value="#{usersController.selected.province.cityCollection}" var="item" itemLabel="#{item.name}" itemValue="#{item}" />
                                    </p:selectOneMenu>
                                </p:panelGrid>
                            </p:panelGrid>
                        </c:if>
                        <c:if test="#{!usersController.isCompany}">
                            <p:panelGrid columns="2">
                                <f:facet name="header">
                                    <h:outputText value="اطلاعات #{usersController.isCompany ? 'شرکت' : 'شخص'}" />
                                </f:facet>
                                <p:panelGrid columns="2">
                                    <p:outputLabel value="نام" for="name" />
                                    <p:inputText id="name" value="#{usersController.selected.name}" title="#{bundle.CreateSahamTitle_name}" />
                                    <p:outputLabel value="نام خانوادگی" for="familyMfrs" />
                                    <p:inputText id="familyMfrs" value="#{usersController.selected.familyMfrs}" title="#{bundle.CreateSahamTitle_familyMfrs}" required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_familyMfrs}"/>
                                    <p:outputLabel value="جنسیت" for="sex" />
                                    <p:selectOneMenu id="sex" value="#{usersController.selected.sex}" >
                                        <f:selectItem itemValue="1" itemLabel="مرد" />
                                        <f:selectItem itemValue="0" itemLabel="زن" />
                                    </p:selectOneMenu>
                                    <p:outputLabel value="نام پدر" for="nameFather" />
                                    <p:inputText id="nameFather" value="#{usersController.selected.nameFather}" title="#{bundle.CreateSahamTitle_nameFather}" />
                                    <p:outputLabel value="شماره شناسنامه" for="shCode" />
                                    <p:inputText id="shCode" value="#{usersController.selected.shCode}" title="#{bundle.CreateSahamTitle_shCode}" />
                                    <p:outputLabel value="شماره سریال عددی شناسنامه" for="shSerialNum" />
                                    <p:inputText id="shSerialNum" value="#{usersController.selected.shSerialNum}" title="#{bundle.EditSahamTitle_shSerialNum}" />
                                    <p:outputLabel value="شماره سریال حروف شناسنامه" for="shSerialCh" />
                                    <p:inputText id="shSerialCh" value="#{usersController.selected.shSerialCh}" title="#{bundle.EditSahamTitle_shSerialCh}" />
                                    <p:outputLabel value="استان" for="province"/>
                                    <p:selectOneMenu value="#{usersController.selected.province}" id="province" required="true" requiredMessage="لطفا استان محل سکونت را انتخاب نمائید">
                                        <p:ajax update="city phone"/>
                                        <c:if test="#{usersController.selected != null}">
                                            <f:selectItems value="#{provinceController.itemsAvailableSelectMany}" var="item"
                                                           itemLabel="#{item.name}" itemValue="#{item}"/>
                                        </c:if>
                                    </p:selectOneMenu>
                                    <p:outputLabel value="شهر" for="city" />
                                    <p:selectOneMenu id="city" disabled="#{usersController.selected.province == null}" 
                                                     value="#{usersController.selected.city}" required="true" requiredMessage="لطفا شهر محل سکونت خود را مشخص نمائيد" >
                                        <c:if test="#{usersController.selected != null}">
                                            <f:selectItems value="#{usersController.selected.province.cityCollection}" var="item"
                                                           itemLabel="#{item.name}" itemValue="#{item}" />
                                        </c:if>
                                    </p:selectOneMenu>
                                </p:panelGrid>
                                <p:panelGrid columns="2">
                                    <p:outputLabel value="تاریخ تولد" for="dateRegisterBirth" />
                                    <p:inputText id="dateRegisterBirth" value="#{usersController.selected.dateRegisterBirth}" title="#{bundle.EditSahamTitle_dateRegisterBirth}" required="true" requiredMessage="#{bundle.EditSahamRequiredMessage_dateRegisterBirth}">
                                        <f:converter converterId="persian_date" />
                                    </p:inputText>
                                    <p:outputLabel value="محل تولد" for="placeRegisterBirth" />
                                    <p:inputText id="placeRegisterBirth" value="#{usersController.selected.placeRegisterBirth}" title="#{bundle.EditSahamTitle_updatedAt}"  required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_placeRegisterBirth}"/>
                                    <p:outputLabel value="کد ملی" for="nationalEconomicalCode" />
                                    <p:inputMask mask="9999999999" id="nationalEconomicalCode" value="#{usersController.selected.nationalEconomicalCode}" title="#{bundle.CreateSahamTitle_nationalEconomicalCode}" required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_nationalEconomicalCode}"/>
                                    <p:outputLabel value="آدرس" for="address" />
                                    <p:inputText id="address" value="#{usersController.selected.address}" title="#{bundle.CreateSahamTitle_address}" required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_address}"/>  
                                    <p:outputLabel value="تلفن" for="phone" />
                                    <p:inputMask  disabled="#{usersController.selected.province == null}" mask="#{usersController.selected.province.code}-99999999" id="phone" value="#{usersController.selected.phone}"  required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_phone}"/>
                                    <p:outputLabel value="تلفن همراه" for="mobile" />
                                    <p:inputMask mask="09999999999" id="mobile" value="#{usersController.selected.mobile}" title="#{bundle.CreateSahamTitle_mobile}" required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_mobile}"/>
                                    <p:outputLabel value="ایمیل" for="email" />
                                    <p:inputText id="email" value="#{usersController.selected.email}" title="#{bundle.CreateSahamTitle_email}" required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_email}">
                                        <f:validateRegex pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                                    </p:inputText>
                                    <p:outputLabel value="کد پستی" for="postalCode" />
                                    <p:inputText id="postalCode" value="#{usersController.selected.postalCode}" title="#{bundle.CreateSahamTitle_postalCode}" required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_postalCode}"/>
                                </p:panelGrid>
                            </p:panelGrid>
                        </c:if>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usersController.create}" value="#{bundle7.Save}" update="display,:SahamCreateForm:users,:SahamEditForm:users,:SahamListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsersCreateDialog');"/>
                    <p:commandButton type="button" value="#{bundle7.Cancel}" onclick="PF('UsersCreateDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
