<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" >
    <ui:composition>
        <p:dialog id="sahamDeleteDlg" modal="true" width="900" widgetVar="sahamDeleteDlg" fitViewport="true" >
            <h:form id="sahamDeleteForm">
                <p:panel rendered="#{sahamController.selected != null}">
                    <p:commandButton id="deleteButton" oncomplete="PF('sahamDeleteDlg').hide();" icon="ui-icon-trash"  value="تائید اطلاعات و حذف آن ها" actionListener="#{sahamController.destroy}" update=":growl,:SahamListForm:datalist" disabled="#{empty sahamController.selected}">
                        <p:confirm message="آیا از حذف اطمینان دارید" />
                    </p:commandButton>
                    <p:panelGrid columns="2" >
                        <p:panel>
                            <p:panelGrid columns="2">
                                <c:set value="#{sahamController.selected.userId.isCompany == 1 ? 'Co' : 'Pe'}" var="type" />
                                <h:outputText value="#{bundle.ViewSahamLabel_id}"/>
                                <h:outputText value="#{sahamController.selected.id}" title="#{bundle.ViewSahamTitle_id}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_serialNo}"/>
                                <h:outputText value="#{sahamController.selected.serialNo}" title="#{bundle.ViewSahamTitle_serialNo}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_dataRegister}"/>
                                <h:outputText value="#{sahamController.selected.dateRegister}" title="#{bundle.ViewSahamTitle_dataRegister}">
                                    <f:converter converterId="persian_date"/>
                                </h:outputText>
                                <h:outputText value="#{bundle.ViewSahamLabel_count}"/>
                                <h:outputText value="#{sahamController.selected.count}" title="#{bundle.ViewSahamTitle_count}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_name}"/>
                                <h:outputText value="#{sahamController.selected.userId.name}" title="#{bundle.ViewSahamTitle_name}"/>
                                <h:outputText value="#{bundle['ViewSahamLabel_familyMfrs'.concat(type)]}"/>
                                <h:outputText value="#{sahamController.selected.userId.familyMfrs}" title="#{bundle['ViewSahamTitle_familyMfrs'.concat(type)]}"/>
                                <c:if test="#{sahamController.selected.userId.isCompany == 0}">
                                    <h:outputText value="#{bundle.ViewSahamLabel_sex}"/>
                                    <h:outputText value="#{sahamController.selected.userId.sex}" title="#{bundle.ViewSahamTitle_sex}"/>
                                    <h:outputText value="#{bundle.ViewSahamLabel_nameFather}"/>
                                    <h:outputText value="#{sahamController.selected.userId.nameFather}" title="#{bundle.ViewSahamTitle_nameFather}"/>
                                </c:if>
                                <h:outputText value="#{bundle['ViewSahamLabel_placeRegisterBirth'.concat(type)]}"/>
                                <h:outputText value="#{sahamController.selected.userId.placeRegisterBirth}" title="#{bundle['ViewSahamLabel_placeRegisterBirth'.concat(type)]}"/>
                                <h:outputText value="#{bundle['ViewSahamLabel_nationalEconomicalCode'.concat(type)]}"/>
                                <h:outputText value="#{sahamController.selected.userId.nationalEconomicalCode}" title="#{bundle['ViewSahamLabel_nationalEconomicalCode'.concat(type)]}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_address}"/>
                                <h:outputText value="#{sahamController.selected.userId.address}" title="#{bundle.ViewSahamTitle_address}"/>
                            </p:panelGrid>

                            <p:panelGrid columns="2">
                                <h:outputText value="#{bundle.ViewSahamLabel_phone}"/>
                                <h:outputText value="#{sahamController.selected.userId.phone}" title="#{bundle.ViewSahamTitle_phone}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_mobile}"/>
                                <h:outputText value="#{sahamController.selected.userId.mobile}" title="#{bundle.ViewSahamTitle_mobile}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_email}"/>
                                <h:outputText value="#{sahamController.selected.userId.email}" title="#{bundle.ViewSahamTitle_email}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_postalCode}"/>
                                <h:outputText value="#{sahamController.selected.userId.postalCode}" title="#{bundle.ViewSahamTitle_postalCode}"/>
                                <c:if test="#{sahamController.selected.userId.isCompany == 1}">
                                    <h:outputText value="#{bundle.ViewSahamLabel_isCompany}"/>
                                    <h:outputText value="#{sahamController.selected.userId.isCompany}" title="#{bundle.ViewSahamTitle_isCompany}"/>
                                    <h:outputText value="#{bundle.ViewSahamLabel_organizationType}"/>
                                    <h:outputText value="#{sahamController.selected.userId.organizationType}" title="#{bundle.ViewSahamTitle_organizationType}"/>
                                    <h:outputText value="#{bundle.ViewSahamLabel_organizationNature}"/>
                                    <h:outputText value="#{sahamController.selected.userId.organizationNature}" title="#{bundle.ViewSahamTitle_organizationNature}"/>
                                    <h:outputText value="#{bundle.ViewSahamLabel_registrationNumber}"/>
                                    <h:outputText value="#{sahamController.selected.userId.registrationNumber}" title="#{bundle.ViewSahamTitle_registrationNumber}"/>

                                </c:if>
                                <c:if test="#{sahamController.selected.userId.isCompany == 0}">
                                    <h:outputText value="#{bundle.ViewSahamLabel_shCode}"/>
                                    <h:outputText value="#{sahamController.selected.userId.shCode}" title="#{bundle.ViewSahamTitle_shCode}"/>
                                    <h:outputText value="#{bundle.ViewSahamLabel_shSerialNum}"/>
                                    <h:outputText value="#{sahamController.selected.userId.shSerialNum}" title="#{bundle.ViewSahamTitle_shSerialNum}"/>
                                    <h:outputText value="#{bundle.ViewSahamLabel_shSerialCh}"/>
                                    <h:outputText value="#{sahamController.selected.userId.shSerialCh}" title="#{bundle.ViewSahamTitle_shSerialCh}"/>
                                    <h:outputText value="#{bundle.ViewSahamLabel_dateRegisterBirthPe}"/>
                                    <h:outputText value="#{sahamController.selected.userId.dateRegisterBirth}" title="#{bundle.ViewSahamTitle_dateRegisterBirthPe}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                    </h:outputText>
                                </c:if>
                                <h:outputText value="#{bundle.ViewSahamLabel_createdAt}"/>
                                <h:outputText value="#{sahamController.selected.createdAt}" title="#{bundle.ViewSahamTitle_createdAt}">
                                    <f:converter converterId="persian_date" />
                                </h:outputText>
                                <h:outputText value="#{bundle.ViewSahamLabel_updatedAt}"/>
                                <h:outputText value="#{sahamController.selected.updatedAt}" title="#{bundle.ViewSahamTitle_updatedAt}">
                                    <f:converter converterId="persian_date" />
                                </h:outputText>
                            </p:panelGrid>
                        </p:panel>
                        <p:dataGrid emptyMessage="مدارک آپلود شده ای یافت شد" id="DeleteImagess" value="#{sahamController.getDocumentList()}" var="picture" layout="grid" columns="3">
                            <ui:repeat  value="#{picture}" var="image">
                                <h:panelGroup id='image#{image.id}'>
                                    <p:outputLabel value="نوع مدرک  :" />
                                    <span><h:outputText value="#{
                                                        image.order == 1 ? 'تصویر روی کارت ملی':
                                                            image.order == 2 ? 'تصویر پشت کارت ملی':
                                                            image.order == 3 ? 'صفحه اول شناسنامه' : 
                                                            image.order == 4 ? 'صفحه دوم شناسنامه' : 
                                                            image.order == 5 ? 'صفحه سوم شناسنامه' :
                                                            image.order == 6 ? 'تصویر برگه سهام':
                                                            image.order == 7 ? 'تصویر فیش واریزی' :
                                                            image.order == 8 ? 'متفرقه' : ''
                                            }" />
                                    </span> <span>وضعیت :</span> <span style="color:  #{image.active == true ? '#006666' :'red'} ">#{image.active == true ? 'تائید شده' : 'تائید نشده'}</span>
                                    <p:graphicImage width="100%" height="auto" value='/images/document/#{image.file}' />
                                </h:panelGroup>
                            </ui:repeat>
                        </p:dataGrid>
                    </p:panelGrid>


                </p:panel>
            </h:form>
        </p:dialog>
    </ui:composition>
</html>
