<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition>
        <p:dialog id="SahamEditDlg" widgetVar="SahamEditDialog" modal="true" resizable="false" appendTo="@(body)" header="  #{sahamController.selected.userId.isCompany eq 1 ? 'ویرایش اطلاعات شرکت' : 'ویرایش اطلاعات شخص'} ">
            <h:form>
                <p:panelGrid columns="2">
                    <p:commandButton id="editButtonDocument" icon="ui-icon-plus"   value="افزودن اسکن مدارک" update="ImagesEditDlg"  oncomplete="PF('ImagesEditDialog').show()"/>
                    <p:commandButton id="revokeButton" icon="ui-icon-document"  value="ثبت گواهی ابطال" update=":RevokeEdit" oncomplete="PF('RevokeEditDlg').show()" disabled="#{empty sahamController.selected}"/>
                </p:panelGrid>
            </h:form>
            <h:form id="SahamEditForm">
                <h:outputScript>
                    $(function () {
                    $("#SahamEditForm\\:dateRegister").persianDatepicker();
                    });
                </h:outputScript>
                <p:message for="serialNo" id="msgSerialNo" />
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{sahamController.selected != null}">
                        <p:outputLabel value="شماره برگه" for="serialNo" />
                        <p:inputNumber minValue="0" id="serialNo" value="#{sahamController.selected.serialNo}" title="#{bundle.CreateSahamTitle_serialNo}" required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_serialNo}">
                            <f:validator validatorId="SerialValidator" />
                            <p:ajax update="msgSerialNo" event="keyup"/>
                        </p:inputNumber>
                        <p:outputLabel value="زمان ثبت" for="dateRegister" />
                        <p:inputText id="dateRegister" value="#{sahamController.selected.dateRegister}" required="true" requiredMessage="زمان ثبت برگه را وارد کنید">
                            <f:converter converterId="persian_date" />
                        </p:inputText>
                        <p:outputLabel value="تعداد" for="count" />
                        <p:inputText id="count" value="#{sahamController.selected.count}" title="#{bundle.CreateSahamTitle_count}" required="true" requiredMessage="#{bundle.CreateSahamRequiredMessage_count}"/>
                        <p:outputLabel value="وضعیت برگه سهام" for="status" />
                        <p:selectOneMenu id="status" value="#{sahamController.selected.status}">
                            <f:converter converterId="javax.faces.Integer" />
                            <f:selectItem itemValue="1" itemLabel="فعال" />
                            <f:selectItem  itemValue="2" itemLabel="فعال نزد هیئت مدیره" />
                            <f:selectItem itemValue="3" itemLabel="فعال موجود در تهران" />
                            <f:selectItem itemValue="4" itemLabel="فعال موجود در کارخانه" />
                            <f:selectItem itemValue="5" itemLabel="ابطالی برگه موجود" />
                            <f:selectItem itemValue="6" itemLabel="ابطالی برگه ناموجود" />
                            <f:selectItem itemValue="7" itemLabel="نامشخص" />
                        </p:selectOneMenu>
                        <p:outputLabel value="کاربر" for="users"/>
                        <p:selectOneMenu filter="true" id="users" value="#{sahamController.selected.userId}">
                            <f:selectItems value="#{usersController.items}" var="item" 
                                           itemLabel="#{item.name} #{item.familyMfrs}
                                           #{(empty item.name &amp;&amp; empty item.familyMfrs) ? 'بدون نام' : ''}" itemValue="${item}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="افزودن کاربر" />
                        <p:commandButton id="createButton" icon="ui-icon-plus" oncomplete="PF('UsersCreateDlg').show()"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{sahamController.create}" value="#{bundle.Save}" update="display,:SahamListForm:datalist,:growl" oncomplete="handleSubmit(args,'SahamCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" type="button" onclick="PF('SahamCreateDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
