<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SahamImportDlg" widgetVar="SahamImportDialog" modal="true" resizable="false" appendTo="@(body)" header="وارد کردن اطلاعات">
            <h:form id="SahamImportForm" enctype="multipart/form-data">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" >
                        <p:outputLabel for="importdata" value="انتخاب فایل" />
                        <p:fileUpload id="importdata" mode="simple" skinSimple="true" value="#{sahamController.excel}" required="true" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{sahamController.importExcel()}" ajax="false" value="#{bundle.Save}" update="display,:SahamListForm:datalist,:growl" oncomplete="handleSubmit(args,'SahamImportDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SahamImportDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>
    </ui:composition>
</html>