<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition template="/SuperAdmin/template.xhtml">

        <ui:define name="body">
            <style>
                .red{
                    background: red; /* For browsers that do not support gradients */
                    background: -webkit-linear-gradient(-90deg, #ff6666, white); /* For Safari 5.1 to 6.0 */
                    background: -o-linear-gradient(-90deg, #ff6666, white); /* For Opera 11.1 to 12.0 */
                    background: -moz-linear-gradient(-90deg, #ff6666, white); /* For Firefox 3.6 to 15 */
                    background: linear-gradient(-90deg, #ff6666, white); /* Standard syntax */
                }
                .red:hover,.red:active{
                    background-color: #76252a ;
                }
                .blue{
                    background: red; /* For browsers that do not support gradients */
                    background: -webkit-linear-gradient(-90deg, #99ccff, #FFFFFF); /* For Safari 5.1 to 6.0 */
                    background: -o-linear-gradient(-90deg, #99ccff, #FFFFFF); /* For Opera 11.1 to 12.0 */
                    background: -moz-linear-gradient(-90deg, #99ccff, #FFFFFF); /* For Firefox 3.6 to 15 */
                    background: linear-gradient(-90deg, #99ccff, #FFFFFF); /* Standard syntax */
                }
                .ui-datatable-scrollable-header-box{
                    margin-right: 0!important
                }
                .ui-panelgrid , .ui-panelgrid tr ,.ui-panelgrid td{
                    border:none!important
                }
            </style>
            <h:form id="tool">
                <p:toolbar style="direction: rtl;">
                    <f:facet name="right">
                        <h:panelGrid columns="7">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="افزودن" actionListener="#{sahamController.prepareCreate}" update=":SahamCreateForm" oncomplete="PF('SahamCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="مشاهده" update=":SahamViewForm" oncomplete="PF('SahamViewDialog').show()" disabled="#{empty sahamController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="ویرایش" update=":SahamEditDlg" oncomplete="PF('SahamEditDialog').show()" disabled="#{empty sahamController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="حذف"  oncomplete="PF('sahamDeleteDlg').show()" update=":sahamDeleteDlg" disabled="#{empty sahamController.selected}">
                                <p:confirm message="آیا از حذف اطلاعات اطمینان دارید؟" />
                            </p:commandButton>
                            <p:commandButton id="importButton" icon="ui-icon-document"  value="وارد کردن اطلاعات" update=":SahamImportDlg" oncomplete="PF('SahamImportDialog').show()"/>
                            <p:commandButton  icon="ui-icon-document" value="اکسل" ajax="false">
                                <pe:exporter orientation="RTL" type="xlsx" target=":SahamListForm:datalist" fontName="B Nazanin"  fileName="final" postProcessor="#{sahamController.postProcessXLS}" />
                            </p:commandButton>
                        </h:panelGrid>
                    </f:facet>
                    <f:facet name="left" >
                        <h:panelGrid columns="2">
                            <p:outputPanel>
                                <p:commandButton id="toggler" type="button" value="انتخاب ستون ها" style="float:left" icon="ui-icon-calculator" />
                                <p:columnToggler datasource=":SahamListForm:datalist" trigger="toggler" >
                                    <p:ajax update=":SahamListForm:datalist"  event="toggle" listener="#{sahamController.onToggle}"  />
                                </p:columnToggler>
                            </p:outputPanel>
                            <p:outputPanel>
                                راهنمایی : <span class="red" style="padding: 4px;color: #cccccc">ابطال شده</span>
                            </p:outputPanel>
                        </h:panelGrid>
                    </f:facet> 
                </p:toolbar>

            </h:form>
            <h:form id="SahamListForm">
                <p:dataTable id="datalist" value="#{sahamController.items}" var="item"
                             selectionMode="single" 
                             selection="#{sahamController.selected}"
                             rowKey="#{item.id}"
                             scrollHeight="450" scrollable="true" scrollRows="20"
                             widgetVar="contentTable"
                             liveScroll="true" liveScrollBuffer="20" 
                             draggableColumns="true"
                             emptyMessage="اطلاعاتی یافت نشد"
                             rowStyleClass="#{item.revoke == 1 ? 'red' : ''}"
                             >

                    <p:ajax event="rowSelect"   update=":tool" />
                    <p:ajax event="rowDblselect" update=":SahamViewForm" onsuccess="PF('SahamViewDialog').show()"  />
                    <p:ajax event="rowUnselect" update=":tool"/>

                    <p:column styleClass="#{item.status == 1 ? 'blue' : item.status eq 3 ||  item.status eq 4 ? 'red' : ''}" sortBy="#{item.id}" filterBy="#{item.id}" visible="#{sahamController.list[0]}" exportable="#{sahamController.list[0]}">
                        <f:facet name="header">
                            <h:outputText value="ردیف"/>
                        </f:facet>
                        <h:outputText value="#{item.id}"/>
                    </p:column>
                    <p:column sortBy="#{item.serialNo}" filterBy="#{item.serialNo}" visible="#{sahamController.list[1]}" exportable="#{sahamController.list[1]}" >
                        <f:facet name="header">
                            <h:outputText value="شماره سریال سهام"/>
                        </f:facet>
                        <h:outputText value="#{item.serialNo}">
                            <f:convertNumber integerOnly="true" minFractionDigits="0" minIntegerDigits="0" type="number" maxFractionDigits="0" maxIntegerDigits="0" />
                        </h:outputText>
                    </p:column>
                    <p:column sortBy="#{item.dateRegister}" filterBy="#{item.dateRegister}" visible="#{sahamController.list[2]}" exportable="#{sahamController.list[2]}">
                        <f:facet name="header">
                            <h:outputText value="تاریخ ثبت سهام"/>
                        </f:facet>
                        <h:outputText value="#{item.dateRegister}">
                            <f:converter converterId="persian_date" />
                        </h:outputText>
                    </p:column>
                    <p:column sortBy="#{item.count}" filterBy="#{item.count}" visible="#{sahamController.list[3]}" exportable="#{sahamController.list[3]}">
                        <f:facet name="header">
                            <h:outputText value="تعداد سهام فعلی"/>
                        </f:facet>
                        <h:outputText value="#{item.count}"/>
                    </p:column>
                    <p:column sortBy="#{periodController.getBase() != null ? item.count * periodController.getBase().price : item.count * 30}" filterBy="#{item.count * periodController.getBase().price}" visible="#{sahamController.list[4]}" exportable="#{sahamController.list[4]}">

                        <f:facet name="header">
                            <h:outputText value="مبلغ دوره اول سهام"/>
                        </f:facet>
                        <h:outputText value="#{periodController.getBase() != null ? item.count * periodController.getBase().price : item.count * 30}">
                        </h:outputText>
                    </p:column>
                    <p:column sortBy="#{periodController.getNow() != null ? item.count * periodController.getNow().price : 30 }" filterBy="#{item.count * periodController.getNow().price}" visible="#{sahamController.list[5]}" exportable="#{sahamController.list[5]}">
                        <f:facet name="header">
                            <h:outputText value="مبلغ سهام دوره فعلی"/>
                        </f:facet>
                        <h:outputText value="#{item.count * periodController.getNow().price}" >
                        </h:outputText>
                    </p:column>
                    <p:column sortBy="#{item.userId.name}" filterBy="#{item.userId.name}" visible="#{sahamController.list[6]}" exportable="#{sahamController.list[6]}">
                        <f:facet name="header">
                            <h:outputText value="نام و نام خانوادگی"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.name} #{item.userId.familyMfrs}"/>
                    </p:column>
                    <p:column sortBy="#{item.userId.familyMfrs}" filterBy="#{item.userId.familyMfrs}" visible="#{sahamController.list[7]}" exportable="#{sahamController.list[7]}">
                        <f:facet name="header">
                            <h:outputText value="نام خانوادگی"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.familyMfrs}"/>
                    </p:column>
                    <p:column sortBy="#{item.status}" filterBy="#{item.status}" filterMatchMode="in">
                        <f:facet name="filter">
                            <p:selectCheckboxMenu onchange="PF('contentTable').filter()" label="جستجو"
                                                  panelStyle="width:250px" scrollHeight="150" >
                                <f:converter converterId="javax.faces.Integer" />
                                <f:selectItem itemValue="1" itemLabel="فعال #{sahamController.percentStatus.get(0)}% میباشد" />
                                <f:selectItem  itemValue="2" itemLabel="فعال نزد هیئت مدیره کل #{sahamController.percentStatus.get(1)}% میباشد" />
                                <f:selectItem itemValue="3" itemLabel="فعال موجود در تهران #{sahamController.percentStatus.get(2)}% میباشد" />
                                <f:selectItem itemValue="4" itemLabel=" فعال موجود در کارخانه#{sahamController.percentStatus.get(3)}% میباشد" />
                                <f:selectItem itemValue="5" itemLabel="ابطالی برگه موجود #{sahamController.percentStatus.get(4)}% میباشد" />
                                <f:selectItem itemValue="6" itemLabel="ابطالی برگه ناموجود #{sahamController.percentStatus.get(5)}% میباشد" />
                                <f:selectItem itemValue="7" itemLabel="نامشخص #{sahamController.percentStatus.get(6)}% میباشد" />
                            </p:selectCheckboxMenu>
                        </f:facet>
                        <f:facet name="header">
                            <h:outputText value="وضعیت" />
                        </f:facet>
                        <h:outputText value="#{item.status == 1 ? 'فعال':
                          item.status ==2 ? 'فعال نزد هیئت مدیره' :
                          item.status == 3 ? 'فعال موجود در تهران' :
                          item.status == 4 ? 'فعال موجود در کارخانه' :
                          item.status == 5 ? 'ابطالی برگه موجود' :
                          item.status == 6 ? 'ابطالی برگه ناموجود' :
                          'نامشخص' }"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[8]}" exportable="#{sahamController.list[8]}">
                        <f:facet name="header">
                            <h:outputText value="جنسیت"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.sex}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[9]}" exportable="#{sahamController.list[9]}" filterBy="#{item.userId.nameFather}">
                        <f:facet name="header">
                            <h:outputText value="نام پدر"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.nameFather}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[10]}" exportable="#{sahamController.list[10]}" sortBy="#{item.userId.shCode}" filterBy="#{item.userId.shCode}">
                        <f:facet name="header">
                            <h:outputText value="شماره شناسنامه"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.shCode}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[11]}" exportable="#{sahamController.list[11]}" sortBy="#{item.userId.shSerialNum}" filterBy="#{item.userId.shSerialNum}">
                        <f:facet name="header">
                            <h:outputText value="عدد سریال شناسنامه"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.shSerialNum}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[12]}" exportable="#{sahamController.list[12]}" sortBy="#{item.userId.shSerialCh}" filterBy="#{item.userId.shSerialCh}">
                        <f:facet name="header">
                            <h:outputText value="حروف سریال شناسنامه"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.shSerialCh}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[13]}" exportable="#{sahamController.list[13]}" sortBy="#{item.userId.dateRegisterBirth}" filterBy="#{item.userId.dateRegisterBirth}">
                        <f:facet name="header">
                            <h:outputText value="تاریخ ثبت/تولد"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.dateRegisterBirth}">
                            <f:converter converterId="persian_date" />
                        </h:outputText>
                    </p:column>
                    <p:column visible="#{sahamController.list[14]}" exportable="#{sahamController.list[14]}" sortBy="#{item.userId.placeRegisterBirth}" filterBy="#{item.userId.placeRegisterBirth}">
                        <f:facet name="header">
                            <h:outputText value="مکان تولد/ثبت شرکت"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.placeRegisterBirth}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[15]}" exportable="#{sahamController.list[15]}" sortBy="#{item.userId.nationalEconomicalCode}" filterBy="#{item.userId.nationalEconomicalCode}">
                        <f:facet name="header">
                            <h:outputText value="کد اقتصادی"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.nationalEconomicalCode}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[16]}" exportable="#{sahamController.list[16]}" filterBy="#{item.userId.address}">
                        <f:facet name="header">
                            <h:outputText value="نشانی"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.address}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[17]}" exportable="#{sahamController.list[17]}" sortBy="#{item.userId.phone}" filterBy="#{item.userId.phone}">
                        <f:facet name="header">
                            <h:outputText value="تلفن"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.phone}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[18]}" exportable="#{sahamController.list[18]}" filterBy="#{item.userId.mobile}">
                        <f:facet name="header">
                            <h:outputText value="موبایل"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.mobile}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[19]}" exportable="#{sahamController.list[19]}" sortBy="#{item.userId.email}" filterBy="#{item.userId.email}">
                        <f:facet name="header">
                            <h:outputText value="ایمیل"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.email}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[20]}" exportable="#{sahamController.list[20]}" sortBy="#{item.userId.postalCode}" filterBy="#{item.userId.postalCode}">
                        <f:facet name="header">
                            <h:outputText value="کد پستی"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.postalCode}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[21]}" exportable="#{sahamController.list[21]}">
                        <f:facet name="header">
                            <h:outputText value="نوع شرکت"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.isCompany eq 1 ? 'حقوقی' : 'حقیقی'}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[22]}" exportable="#{sahamController.list[22]}">
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListSahamTitle_organizationType}"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.organizationType}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[23]}" exportable="#{sahamController.list[23]}">
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListSahamTitle_organizationNature}"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.organizationNature}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[24]}" exportable="#{sahamController.list[24]}" sortBy="#{item.userId.registrationNumber}" filterBy="#{item.userId.registrationNumber}">
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListSahamTitle_registrationNumber}"/>
                        </f:facet>
                        <h:outputText value="#{item.userId.registrationNumber}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[25]}" exportable="#{sahamController.list[25]}">
                        <f:facet name="header">
                            <h:outputText value="Revoke" />
                        </f:facet>
                        <h:outputText value="#{item.revoke}" />
                    </p:column>
                    <p:column visible="#{sahamController.list[26]}" exportable="#{sahamController.list[26]}" >
                        <f:facet name="header">
                            <h:outputText value="Revoke Document" />
                        </f:facet>
                        <h:outputText value="#{item.revokeDocument}"/>
                    </p:column>
                    <p:column visible="#{sahamController.list[27]}" exportable="#{sahamController.list[27]}" filterBy="#{item.revokeDescribtion}">
                        <f:facet name="header">
                            <h:outputText value="Revoke Describtion"/>
                        </f:facet>
                        <h:outputText value="#{item.revokeDescribtion}" />
                    </p:column>
                    <p:column visible="#{sahamController.list[29]}" exportable="#{sahamController.list[29]}" sortBy="#{item.createdAt}" filterBy="#{item.createdAt}">
                        <f:facet name="header">
                            <h:outputText value="زمان ایجاد"/>
                        </f:facet>
                        <h:outputText value="#{item.createdAt}">
                            <f:converter converterId="persian_date" />
                        </h:outputText>
                    </p:column>
                    <p:column visible="#{sahamController.list[30]}" exportable="#{sahamController.list[30]}" sortBy="#{item.updatedAt}" filterBy="#{item.updatedAt}">
                        <f:facet name="header">
                            <h:outputText value="آخرین ویرایش"/>
                        </f:facet>
                        <h:outputText value="#{item.updatedAt}">
                            <f:converter converterId="persian_date" />
                        </h:outputText>
                    </p:column>
                    <p:column visible="#{sahamController.list[31]}" exportable="#{sahamController.list[31]}" >
                        <f:facet name="header">
                            <h:outputText value="تکمیل پروفایل" />
                        </f:facet>
                        <h:outputText value="#{sahamController.CheckPercent(item)}%" />
                    </p:column>
                </p:dataTable>
            </h:form>
            <ui:include src="CreateUser.xhtml"/>
            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
            <ui:include src="SahamDocument.xhtml"/>
            <ui:include src="Revoke.xhtml" />
            <ui:include src="Import.xhtml" />
            <ui:include src="Delete.xhtml" />
            
        </ui:define>
    </ui:composition>

</html>
