<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition>
        <p:dialog id="RevokeEdit" widgetVar="RevokeEditDlg" maximizable="true" modal="true" resizable="true" appendTo="@(body)" header="گواهی ابطال">
            <c:if test="#{not empty sahamController.selected.revokeDocument}">
                <p:graphicImage value="/images/revoke_document/#{sahamController.selected.revokeDocument}" width="300px" height="auto" />
            </c:if>
            <h:form enctype="multipart/form-data">
                <p:panelGrid columns="2">
                    <p:outputLabel value="اسکن مدرک #{not empty sahamController.selected.revokeDocument ? 'جدید': ''}" />
                    <p:fileUpload mode="simple" skinSimple="true" value="#{sahamController.file}" required="true" requiredMessage="لطفا فایل خود را وارد کنید "/>
                    <p:outputLabel value="توضیح" />
                    <p:inputTextarea cols="70" value="#{sahamController.selected.revokeDescribtion}" />
                </p:panelGrid>
                <p:commandButton actionListener="#{sahamController.update}" ajax="false" value="ثبت اطلاعات" update=":SahamListForm:datalist,:growl" oncomplete="handleSubmit(args,'RevokeEditDlg');"/>
                <p:commandButton value="انصراف" type="button" onclick="PF('RevokeEditDlg').hide()"/>
            </h:form>
        </p:dialog>
    </ui:composition>
</html>