<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition>
        <p:dialog id="ImagesEditDlg" widgetVar="ImagesEditDialog" maximizable="true" width="800" height="600" modal="true" resizable="true" appendTo="@(body)" header="تصویر مدارک">
            <h:form id="ImagesEditForm" enctype="multipart/form-data">
                <p:panel id="ErrorDocument" style="border: none">
                    <c:if test="#{ empty sahamController.order(1) ||
                                   empty sahamController.order(2) ||
                                   empty sahamController.order(3) ||
                                   empty sahamController.order(4) ||
                                   empty sahamController.order(5)
                              }">
                        <div  class="col-lg-12" style="color: #006666;padding: 10px;background-color: #ffcccc">

                            <span><h4>مدارکی که باید آن ها اضافه کنید</h4></span> 
                            <p>#{  empty sahamController.order(1)  ?  'تصویر روی کارت ملی' :''}</p>
                            <p>#{ empty sahamController.order(2) ? 'تصویر پشت کارت ملی' : ''}</p>
                            <p>#{ empty sahamController.order(3) ?  'صفحه اول شناسنامه' : ''}</p>
                            <p>#{ empty sahamController.order(4) ?  'صفحه دوم شناسنامه' : ''}</p>
                            <p>#{ empty sahamController.order(5) ?  'صفحه سوم شناسنامه': ''}</p>

                        </div>
                    </c:if>
                </p:panel>
                <p:dataGrid id="EditImagess" value="#{sahamController.getDocumentList()}" var="picture" layout="grid" columns="3" style="width: 100%" >
                    <ui:repeat  value="#{picture}" var="image">
                        <h:panelGroup id='image#{image.id}'>
                            <p:outputLabel value="نوع مدرک  :" />
                            <span><h:outputText value="#{
                                                image.order == 1 ? 'تصویر روی کارت ملی':
                                                    image.order == 2 ? 'تصویر پشت کارت ملی':
                                                    image.order == 3 ? 'صفحه اول شناسنامه' : 
                                                    image.order == 4 ? 'صفحه دوم شناسنامه' : 
                                                    image.order == 5 ? 'صفحه سوم شناسنامه' :
                                                    image.order == 6 ? 'تصویر برگه سهام':
                                                    image.order == 7 ? 'تصویر فیش واریزی' :
                                                    image.order == 8 ? 'متفرقه' : ''
                                            }" /></span> <span>وضعیت :</span> <span style="color:  #{image.active == true ? '#006666' :'red'} ">#{image.active == true ? 'تائید شده' : 'تائید نشده'}</span>
                            <p:graphicImage width="100%" value='/images/document/#{image.file}' />
                            <h:panelGrid columns="3">
                                <p:commandLink  actionListener="#{sahamController.removeImageFile(image)}" update="@form"><i class="fa fa-2x fa-trash"></i><p:confirm message="آیا از حذف عکس اطمینان دارید؟" icon="ui-icon-alert"></p:confirm></p:commandLink>
                            </h:panelGrid>
                        </h:panelGroup>
                    </ui:repeat>
                </p:dataGrid>
                <h:panelGroup id="display" >
                    <p:panelGrid style="width: 100%"  layout="grid" columns="1">
                        <p:panelGrid columns="4">
                            <ui:repeat value="#{sahamController.listDocumentAdd}" var="items">
                                <p:outputLabel value="نوع مدرک" /><span> </span>
                                <p:fileUpload skinSimple="true" mode="simple" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"  value="#{items.file}"  label="#{items.label}"  />
                                <p:outputLabel value="توضیحات" />
                                <p:inputTextarea value="#{items.desc}"></p:inputTextarea>
                                <br/>
                            </ui:repeat>
                        </p:panelGrid>
                        <p:commandButton ajax="false" actionListener="#{sahamController.createDocuments()}" value="ذخیره" update="@form,ErrorDocument" />
                    </p:panelGrid>
                </h:panelGroup>
            </h:form>
        </p:dialog>
        <style>
            .ui-selectonebutton .ui-button-text .ui-c{
                margin-top: 5px !important;
            }
        </style>
    </ui:composition>
</html>