<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition>

        <p:dialog id="SahamViewDlg" widgetVar="SahamViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewSahamTitle}">
            <h:form id="SahamViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2">
                        <p:commandButton id="editButtonDocument" icon="ui-icon-plus"   value="مشاهده و افزودن مدارک اسکن شده" update="ImagesEditDlg"  oncomplete="PF('ImagesEditDialog').show()"/>
                    </p:panelGrid>
                        
                    <p:panelGrid columns="2" rendered="#{sahamController.selected != null}">
                        <p:panelGrid columns="2">
                            <c:set value="#{sahamController.selected.userId.isCompany == 1 ? 'Co' : 'Pe'}" var="type" />
                            <h:outputText value="#{bundle.ViewSahamLabel_id}"/>
                            <h:outputText value="#{sahamController.selected.id}" title="#{bundle.ViewSahamTitle_id}"/>
                            <h:outputText value="#{bundle.ViewSahamLabel_serialNo}"/>
                            <h:outputText value="#{sahamController.selected.serialNo}" title="#{bundle.ViewSahamTitle_serialNo}"/>
                            <h:outputText value="#{bundle.ViewSahamLabel_dataRegister}"/>
                            <h:outputText value="#{sahamController.selected.dateRegister}" title="#{bundle.ViewSahamTitle_dataRegister}">
                                <f:converter converterId="persian_date"/>
                            </h:outputText>
                            <h:outputText value="#{bundle.ViewSahamLabel_count}"/>
                            <h:outputText value="#{sahamController.selected.count}" title="#{bundle.ViewSahamTitle_count}"/>
                            <h:outputText value="#{bundle.ViewSahamLabel_name}"/>
                            <h:outputText value="#{sahamController.selected.userId.name}" title="#{bundle.ViewSahamTitle_name}"/>
                            <h:outputText value="#{bundle['ViewSahamLabel_familyMfrs'.concat(type)]}"/>
                            <h:outputText value="#{sahamController.selected.userId.familyMfrs}" title="#{bundle['ViewSahamTitle_familyMfrs'.concat(type)]}"/>
                            <c:if test="#{sahamController.selected.userId.isCompany == 0}">
                                <h:outputText value="#{bundle.ViewSahamLabel_sex}"/>
                                <h:outputText value="#{sahamController.selected.userId.sex}" title="#{bundle.ViewSahamTitle_sex}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_nameFather}"/>
                                <h:outputText value="#{sahamController.selected.userId.nameFather}" title="#{bundle.ViewSahamTitle_nameFather}"/>
                            </c:if>
                            <h:outputText value="#{bundle['ViewSahamLabel_placeRegisterBirth'.concat(type)]}"/>
                            <h:outputText value="#{sahamController.selected.userId.placeRegisterBirth}" title="#{bundle['ViewSahamLabel_placeRegisterBirth'.concat(type)]}"/>
                            <h:outputText value="#{bundle['ViewSahamLabel_nationalEconomicalCode'.concat(type)]}"/>
                            <h:outputText value="#{sahamController.selected.userId.nationalEconomicalCode}" title="#{bundle['ViewSahamLabel_nationalEconomicalCode'.concat(type)]}"/>
                            <h:outputText value="#{bundle.ViewSahamLabel_address}"/>
                            <h:outputText value="#{sahamController.selected.userId.address}" title="#{bundle.ViewSahamTitle_address}"/>
                        </p:panelGrid>

                        <p:panelGrid columns="2">
                            <h:outputText value="#{bundle.ViewSahamLabel_phone}"/>
                            <h:outputText value="#{sahamController.selected.userId.phone}" title="#{bundle.ViewSahamTitle_phone}"/>
                            <h:outputText value="#{bundle.ViewSahamLabel_mobile}"/>
                            <h:outputText value="#{sahamController.selected.userId.mobile}" title="#{bundle.ViewSahamTitle_mobile}"/>
                            <h:outputText value="#{bundle.ViewSahamLabel_email}"/>
                            <h:outputText value="#{sahamController.selected.userId.email}" title="#{bundle.ViewSahamTitle_email}"/>
                            <h:outputText value="#{bundle.ViewSahamLabel_postalCode}"/>
                            <h:outputText value="#{sahamController.selected.userId.postalCode}" title="#{bundle.ViewSahamTitle_postalCode}"/>
                            <c:if test="#{sahamController.selected.userId.isCompany == 1}">
                                <h:outputText value="#{bundle.ViewSahamLabel_isCompany}"/>
                                <h:outputText value="#{sahamController.selected.userId.isCompany}" title="#{bundle.ViewSahamTitle_isCompany}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_organizationType}"/>
                                <h:outputText value="#{sahamController.selected.userId.organizationType}" title="#{bundle.ViewSahamTitle_organizationType}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_organizationNature}"/>
                                <h:outputText value="#{sahamController.selected.userId.organizationNature}" title="#{bundle.ViewSahamTitle_organizationNature}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_registrationNumber}"/>
                                <h:outputText value="#{sahamController.selected.userId.registrationNumber}" title="#{bundle.ViewSahamTitle_registrationNumber}"/>

                            </c:if>
                            <c:if test="#{sahamController.selected.userId.isCompany == 0}">
                                <h:outputText value="#{bundle.ViewSahamLabel_shCode}"/>
                                <h:outputText value="#{sahamController.selected.userId.shCode}" title="#{bundle.ViewSahamTitle_shCode}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_shSerialNum}"/>
                                <h:outputText value="#{sahamController.selected.userId.shSerialNum}" title="#{bundle.ViewSahamTitle_shSerialNum}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_shSerialCh}"/>
                                <h:outputText value="#{sahamController.selected.userId.shSerialCh}" title="#{bundle.ViewSahamTitle_shSerialCh}"/>
                                <h:outputText value="#{bundle.ViewSahamLabel_dateRegisterBirthPe}"/>
                                <h:outputText value="#{sahamController.selected.userId.dateRegisterBirth}" title="#{bundle.ViewSahamTitle_dateRegisterBirthPe}">
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                </h:outputText>
                            </c:if>
                            <h:outputText value="#{bundle.ViewSahamLabel_createdAt}"/>
                            <h:outputText value="#{sahamController.selected.userId.createdAt}" title="#{bundle.ViewSahamTitle_createdAt}">
                                <f:converter converterId="persian_date" />
                            </h:outputText>
                            <h:outputText value="#{bundle.ViewSahamLabel_updatedAt}"/>
                            <h:outputText value="#{sahamController.selected.userId.updatedAt}" title="#{bundle.ViewSahamTitle_updatedAt}">
                                <f:converter converterId="persian_date" />
                            </h:outputText>
                        </p:panelGrid>
                    </p:panelGrid>
                    <p:commandButton type="button" value="#{bundle.Close}" onclick="PF('SahamViewDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
