<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f = "http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/SuperAdmin/template.xhtml">
        <ui:define name="body">
            <b:panel col-lg="12">
                <b:row>
                    <b:panel col-lg="8" style="border: 0px">
                        <p:chart type="bar" model="#{chartView.barModel}"  responsive="true" style="height:680px"/>
                    </b:panel>
                    <b:panel col-lg="4" style="border: 0px">
                        <p:chart type="pie" model="#{chartView.documentModel}" responsive="true" style="width:100%;height:300px">
                        </p:chart>
                    </b:panel>
                    <b:panel col-lg="4" style="border: 0px">
                        <p:chart type="pie" model="#{chartView.messagesModel}" responsive="true" style="width:100%;height:300px">
                        </p:chart>
                    </b:panel>
                </b:row>
            </b:panel>
        </ui:define>
    </ui:composition>
</html>
