<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f = "http://xmlns.jcp.org/jsf/core"

      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <c:if test="#{loginController.checkLogin('Admin')}">
        <h:head>
            <title><ui:insert name="title">Default title</ui:insert></title>
            <ui:insert name="head" />
            <h:outputStylesheet library="css" name="jsfcrud.css"/>
            <h:outputStylesheet library="css" name="persianDatepicker-default.css"/>
            <h:outputScript library="js" name="jsfcrud.js"/>
            <h:outputScript library="js" name="persianDatepicker.min.js"/>
        </h:head>      
        <h:body >
            <p:growl id="growl" life="3000" />

            <h:form>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="بله" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="خیر" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </h:form>

            <h:form>  
                <p:growl id="messages"/>

                <p:toolbar style="direction: rtl">
                    <f:facet name="right">
                        <p:commandButton value="سلام #{sessionScope.user.getUsername()}" action="/SuperAdmin/index.xhtml" />
                    </f:facet>
                    <f:facet name="left">
                        <p:commandButton value="خروج" action="#{loginController.logout()}"/>
                    </f:facet>
                </p:toolbar>
            </h:form>

            <ui:insert name="body" />
            <style>
                form a{
                    color: black !important;
                }
                body{
                    padding-bottom: 60px;
                }
            </style>
            <h:form id="toolbar" style="color: black">
                <p:dock position="bottom" >
                    <c:if test="#{session.getAttribute('user').getRole().toUpperCase() eq 'SUPERADMIN'}">
                        <p:menuitem value="شهرها" icon="/resources/images/city.png" url="/SuperAdmin/city/List.xhtml" />
                        <p:menuitem value="استان ها" icon="/resources/images/province.png" url="/SuperAdmin/province/List.xhtml"/>
                        <p:menuitem value="کاربران" icon="/resources/images/Users.png" url="/SuperAdmin/users/List.xhtml"/>
                        <p:menuitem value="ویرایش دوره ها"  icon="/resources/images/period.png" url="/SuperAdmin/period/List.xhtml"/>
                    </c:if>
                    <p:menuitem value="تماس با ما" icon="/resources/images/email.png" url="/SuperAdmin/contact/List.xhtml"/>
                    <p:menuitem value="مدارک هویتی شرکت" icon="/resources/images/history.png" url="/SuperAdmin/meetingDetail/List.xhtml"/>
                    <p:menuitem value="مدیریت سهام ها"  icon="/resources/images/portfolio.png" url="/SuperAdmin/saham/List.xhtml"/>
                    <p:menuitem value="پیام های کاربران"  icon="/resources/images/email.png" url="/SuperAdmin/messages/List.xhtml"/>
                    <p:menuitem value="مدارک ارسالی کاربران"  icon="/resources/images/link.png" url="/SuperAdmin/document/List.xhtml"/>
                </p:dock>
            </h:form>
            <ui:insert name="script" />
        </h:body>
    </c:if>
</html>
