<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MeetingDetailCreateDlg" widgetVar="MeetingDetailCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle3.CreateMeetingDetailTitle}">
            <h:form id="MeetingDetailCreateForm" enctype="multipart/form-data">
                <h:panelGroup id="display">
                    <h:outputScript>
                        $(function(){
                           $("#MeetingDetailCreateForm\\:date").persianDatepicker();
                        });
                    </h:outputScript>
                    <p:panelGrid columns="2" rendered="#{meetingDetailController.selected != null}">
                        <p:outputLabel value="#{bundle3.CreateMeetingDetailLabel_name}" for="name" />
                        <p:inputText id="name" value="#{meetingDetailController.selected.name}" title="#{bundle3.CreateMeetingDetailTitle_name}" />
                        <p:outputLabel value="#{bundle3.CreateMeetingDetailLabel_file}" for="file" />
                        <p:fileUpload id="file" value="#{meetingDetailController.file}" mode="simple" skinSimple="true" />
                        <p:outputLabel value="#{bundle3.CreateMeetingDetailLabel_describtion}" for="describtion" />
                        <p:inputTextarea id="describtion" value="#{meetingDetailController.selected.describtion}" title="#{bundle3.CreateMeetingDetailTitle_describtion}" />
                        <p:outputLabel value="#{bundle3.CreateMeetingDetailLabel_date}" for="date" />
                        <p:inputText id="date"  value="#{meetingDetailController.selected.date}" title="#{bundle3.EditMeetingDetailTitle_date}">
                            <f:converter converterId="persian_date"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle3.CreateMeetingDetailLabel_num}" for="num" />
                        <p:inputNumber id="num" value="#{meetingDetailController.selected.num}" title="#{bundle3.CreateMeetingDetailTitle_num}" />
                    </p:panelGrid>
                    <p:commandButton ajax="false" actionListener="#{meetingDetailController.create}" value="#{bundle3.Save}" update="display,:MeetingDetailListForm:datalist,:growl" oncomplete="handleSubmit(args,'MeetingDetailCreateDialog');"/>
                    <p:commandButton type="button" value="#{bundle3.Cancel}" onclick="PF('MeetingDetailCreateDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
