<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/SuperAdmin/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle3.ListMeetingDetailTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="MeetingDetailListForm">
                <p:panel header="#{bundle3.ListMeetingDetailTitle}">
                    <p:dataTable id="datalist" value="#{meetingDetailController.items}" var="item"
                                 selectionMode="single" selection="#{meetingDetailController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowDblselect" update=":MeetingDetailViewForm" onsuccess="PF('MeetingDetailViewDialog').show()"  />
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListMeetingDetailTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListMeetingDetailTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListMeetingDetailTitle_file}"/>
                            </f:facet>
                            <a href="#{request.contextPath}/images/meetingDetail/#{item.file}" target="blank">نمایش مدارک</a>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListMeetingDetailTitle_describtion}"/>
                            </f:facet>
                            <h:outputText value="#{item.describtion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListMeetingDetailTitle_date}"/>
                            </f:facet>
                            <h:outputText value="#{item.date}">
                                <f:converter converterId="persian_date" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListMeetingDetailTitle_num}"/>
                            </f:facet>
                            <h:outputText value="#{item.num}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListMeetingDetailTitle_createdAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.createdAt}">
                                <f:converter converterId="persian_date" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle3.ListMeetingDetailTitle_updatedAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.updatedAt}">
                                <f:converter converterId="persian_date" />
                            </h:outputText>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle3.Create}" actionListener="#{meetingDetailController.prepareCreate}" update=":MeetingDetailCreateForm" oncomplete="PF('MeetingDetailCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle3.View}" update=":MeetingDetailViewForm" oncomplete="PF('MeetingDetailViewDialog').show()" disabled="#{empty meetingDetailController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle3.Edit}" update=":MeetingDetailEditForm" oncomplete="PF('MeetingDetailEditDialog').show()" disabled="#{empty meetingDetailController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle3.Delete}" actionListener="#{meetingDetailController.destroy}" update=":growl,datalist" disabled="#{empty meetingDetailController.selected}">
                                <p:confirm message="آیا از حذف اطمینان دارید" />
                            </p:commandButton>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
