<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition>

        <p:dialog id="MeetingDetailViewDlg" widgetVar="MeetingDetailViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle3.ViewMeetingDetailTitle}">
            <h:form id="MeetingDetailViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid id="printer" columns="2" rendered="#{meetingDetailController.selected != null}">
                        <p:panelGrid columns="2" >
                            <h:outputText value="#{bundle3.ViewMeetingDetailLabel_id}"/>
                            <h:outputText value="#{meetingDetailController.selected.id}" title="#{bundle3.ViewMeetingDetailTitle_id}"/>
                            <h:outputText value="#{bundle3.ViewMeetingDetailLabel_name}"/>
                            <h:outputText value="#{meetingDetailController.selected.name}" title="#{bundle3.ViewMeetingDetailTitle_name}"/>
                            <h:outputText value="#{bundle3.ViewMeetingDetailLabel_describtion}"/>
                            <h:outputText value="#{meetingDetailController.selected.describtion}" title="#{bundle3.ViewMeetingDetailTitle_describtion}"/>
                            <h:outputText value="#{bundle3.ViewMeetingDetailLabel_date}"/>
                            <h:outputText value="#{meetingDetailController.selected.date}" title="#{bundle3.ViewMeetingDetailTitle_date}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                            <h:outputText value="#{bundle3.ViewMeetingDetailLabel_num}"/>
                            <h:outputText value="#{meetingDetailController.selected.num}" title="#{bundle3.ViewMeetingDetailTitle_num}"/>
                            <h:outputText value="#{bundle3.ViewMeetingDetailLabel_createdAt}"/>
                            <h:outputText value="#{meetingDetailController.selected.createdAt}" title="#{bundle3.ViewMeetingDetailTitle_createdAt}">
                                <f:converter converterId="persian_date" />
                            </h:outputText>
                            <h:outputText value="#{bundle3.ViewMeetingDetailLabel_updatedAt}"/>
                            <h:outputText value="#{meetingDetailController.selected.updatedAt}" title="#{bundle3.ViewMeetingDetailTitle_updatedAt}">
                                <f:converter converterId="persian_date"  />
                            </h:outputText>
                        </p:panelGrid>
                        <p:panelGrid>
                            <c:if test="#{meetingDetailController.selected.file.split('(\\d+).(\\d+)')[1] eq '.pdf'}">
                                <object id="Test123" type="application/pdf" data="#{request.contextPath}/images/meetingDetail/#{meetingDetailController.selected.file}"  height="300px" width="600px" internalinstanceid="4">
                                    <h1>Your browser can't display pdf</h1>
                                </object>
                            </c:if>
                            <c:if test="#{meetingDetailController.selected.file.split('(\\d+).(\\d+)')[1] != '.pdf'}" >
                                <p:graphicImage value="/images/meetingDetail/#{meetingDetailController.selected.file}" style="width: 400px;height: auto" />
                            </c:if>
                        </p:panelGrid>
                    </p:panelGrid>
                    <p:commandButton id="print" value="پرینت اطلاعات" >
                        <p:printer target="printer" />
                    </p:commandButton>
                    <p:commandButton value="#{bundle3.Close}" onclick="PF('MeetingDetailViewDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
