<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MessagesCreateDlg" widgetVar="MessagesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle7.CreateMessagesTitle}">
            <h:form id="MessagesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{messagesController.selected != null}">
                        <p:outputLabel value="#{bundle7.CreateMessagesLabel_message}" for="message" />
                        <p:inputTextarea id="message" value="#{messagesController.selected.message}" title="#{bundle7.CreateMessagesTitle_message}" />
                        <p:outputLabel value="#{bundle7.CreateMessagesLabel_userId}" for="userId" />
                        <p:selectOneMenu id="userId" value="#{messagesController.selected.userId}"
                                         effect="fade" style="width:160px" filter="true">
                            <f:selectItems value="#{usersController.itemsAvailableSelectOne}"
                                           var="userIdItem"
                                           itemLabel="#{userIdItem.name} #{userIdItem.familyMfrs}"
                                           itemValue="#{userIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{messagesController.create}" value="#{bundle7.Save}" update="display,:MessagesListForm:datalist,:growl" oncomplete="handleSubmit(args,'MessagesCreateDialog');"/>
                    <p:commandButton type="button" value="#{bundle7.Cancel}" onclick="PF('MessagesCreateDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
