<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition>

        <p:dialog id="MessagesEditDlg" widgetVar="MessagesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle7.EditMessagesTitle}">
            <h:form id="MessagesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{messagesController.selected != null}">
                        <p:outputLabel value="#{bundle7.EditMessagesLabel_message}" for="message" />
                        <p:inputTextarea  disabled="#{messagesController.selected.messageType == 2 ? 'false' : 'true'}" id="message" value="#{messagesController.selected.message}" title="#{bundle7.EditMessagesTitle_message}" />

                        <p:outputLabel value="#{bundle7.EditMessagesLabel_userId}" for="userId" />
                        <p:selectOneMenu disabled="#{messagesController.selected.messageType == 2 ? 'false' : 'true'}" id="userId" value="#{messagesController.selected.userId}"
                                         effect="fade" style="width:160px" filter="true">
                            <f:selectItem itemLabel="#{bundle7.SelectOneMessage}"/>
                            <f:selectItems value="#{usersController.itemsAvailableSelectOne}"
                                           var="userIdItem"
                                           itemValue="#{userIdItem}"
                                           
                                           itemLabel="#{userIdItem.name} #{userIdItem.familyMfrs}"/>
                        </p:selectOneMenu>

                    </p:panelGrid>
                    <p:commandButton actionListener="#{messagesController.update}" value="#{bundle7.Save}" update="display,:MessagesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'MessagesEditDialog');"/>
                    <p:commandButton type="button" value="#{bundle7.Cancel}" onclick="PF('MessagesEditDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
