<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/SuperAdmin/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle7.ListMessagesTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="MessagesListForm">
                <p:panel header="#{bundle7.ListMessagesTitle}">
                    <p:dataTable id="datalist" value="#{messagesController.items}" var="item"
                                 selectionMode="single" selection="#{messagesController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowDblselect" update=":MessagesViewForm" onsuccess="PF('MessagesViewDialog').show()"  />
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle7.ListMessagesTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle7.ListMessagesTitle_message}"/>
                            </f:facet>
                            <h:outputText value="#{item.message}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="ارسال شده توسط"/>
                            </f:facet>
                            <span style="color: #{item.messageType == 2 ? ' #0073ea' : '#122b40' }">
                                #{item.messageType == 2 ?  'مدیر' :'کاربر' }
                            </span>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle7.ListMessagesTitle_isRead}"/>
                            </f:facet>
                            <span style="color:#{item.isRead == false ? 'red' : ' #006dcc'}">
                                #{item.isRead == false ? 'خوانده نشده' : 'خوانده شده'}
                            </span>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle7.ListMessagesTitle_userId}"/>
                            </f:facet>
                            <h:outputText value="#{item.userId.name} #{item.userId.familyMfrs}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle7.ListMessagesTitle_createdAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.createdAt}">
                                <f:converter converterId="persian_date" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle7.ListMessagesTitle_updatedAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.updatedAt}">
                                <f:converter converterId="persian_date" />
                            </h:outputText>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle7.Create}" actionListener="#{messagesController.prepareCreate}" update=":MessagesCreateForm" oncomplete="PF('MessagesCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle7.View}" action="#{messagesController.prepareView}" update=":MessagesViewForm" oncomplete="PF('MessagesViewDialog').show()" disabled="#{empty messagesController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle7.Edit}" update=":MessagesEditForm" oncomplete="PF('MessagesEditDialog').show()" disabled="#{empty messagesController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle7.Delete}" actionListener="#{messagesController.destroy}" update=":growl,datalist" disabled="#{empty messagesController.selected}">
                                <p:confirm message="آیا از حذف اطمینان دارید" />
                            </p:commandButton>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
