<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MessagesViewDlg" widgetVar="MessagesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle7.ViewMessagesTitle}">
            <h:form id="MessagesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{messagesController.selected != null}">
                        <h:outputText value="#{bundle7.ViewMessagesLabel_id}"/>
                        <h:outputText value="#{messagesController.selected.id}" title="#{bundle7.ViewMessagesTitle_id}"/>
                        <h:outputText value="#{bundle7.ViewMessagesLabel_message}"/>
                        <h:outputText value="#{messagesController.selected.message}" title="#{bundle7.ViewMessagesTitle_message}"/>
                        <h:outputText value="#{bundle7.ViewMessagesLabel_messageType}"/>
                        <h:outputText value="#{messagesController.selected.messageType}" title="#{bundle7.ViewMessagesTitle_messageType}"/>
                        <h:outputText value="#{bundle7.ViewMessagesLabel_isRead}"/>
                        <p:selectBooleanCheckbox value="#{messagesController.selected.isRead}" disabled="true"/>
                        <h:outputText value="#{bundle7.ViewMessagesLabel_createdAt}"/>
                        <h:outputText value="#{messagesController.selected.createdAt}" title="#{bundle7.ViewMessagesTitle_createdAt}">
                            <f:converter converterId="persian_date" />
                        </h:outputText>
                        <h:outputText value="#{bundle7.ViewMessagesLabel_updatedAt}"/>
                        <h:outputText value="#{messagesController.selected.updatedAt}" title="#{bundle7.ViewMessagesTitle_updatedAt}">
                            <f:converter converterId="persian_date" />
                        </h:outputText>
                        <h:outputText value="#{bundle7.ViewMessagesLabel_userId}"/>
                        <h:outputText value="#{messagesController.selected.userId.name} #{messagesController.selected.userId.familyMfrs}" title="#{bundle7.ViewMessagesTitle_userId}"/>
                      </p:panelGrid>
                    <p:commandButton type="button" value="#{bundle7.Close}" onclick="PF('MessagesViewDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
