<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DocumentEditDlg" widgetVar="DocumentEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle5.EditDocumentTitle}">
            <h:form id="DocumentEditForm" enctype="multipart/form-data">
                <h:panelGroup id="display">
                    <p:graphicImage value="/images/document/#{documentController.selected.file}" width="250px" height="auto" />
                    <p:panelGrid columns="2" rendered="#{documentController.selected != null}">
                        <p:outputLabel value="#{bundle5.EditDocumentLabel_file}" for="file" />
                        <p:fileUpload id="file" value="#{documentController.file}" skinSimple="true" mode="simple" />
                        <p:outputLabel value="#{bundle5.EditDocumentLabel_describtion}" for="describtion" />
                        <p:inputTextarea id="describtion" value="#{documentController.selected.describtion}" title="#{bundle5.EditDocumentTitle_describtion}" />
                        <p:outputLabel value="#{bundle5.EditDocumentLabel_active}" for="active" />
                        <p:selectOneMenu id="active" value="#{documentController.selected.active}" required="true" requiredMessage="#{bundle5.EditDocumentRequiredMessage_active}">
                            <f:selectItem itemValue="true" itemLabel="تائید شده" />
                            <f:selectItem itemValue="false" itemLabel="تائید نشده" />
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle5.EditDocumentLabel_deactiveDesc}" for="deactiveDesc" />
                        <p:inputTextarea id="deactiveDesc" value="#{documentController.selected.deactiveDesc}" title="#{bundle5.EditDocumentTitle_deactiveDesc}" />
                        <p:outputLabel value="#{bundle5.EditDocumentLabel_userId}" for="userId" />
                        <p:selectOneMenu id="userId" value="#{documentController.selected.userId}"
                                         effect="fade" style="width:160px" filter="true">
                            <f:selectItem itemLabel="#{bundle5.SelectOneMessage}"/>
                            <f:selectItems value="#{usersController.itemsAvailableSelectOne}"
                                           var="userIdItem"
                                           itemLabel="#{userIdItem.name} #{userIdItem.familyMfrs}"
                                           itemValue="#{userIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="نوع مدرک" for="order" />
                        <p:selectOneMenu id="order" value="#{documentController.selected.order}" >
                            <f:selectItem itemLabel="تصویر روی کارت ملی" itemValue="1"/>
                            <f:selectItem itemLabel="تصویر پشت کارت ملی" itemValue="2"/>
                            <f:selectItem itemLabel="صفحه اول شناسنامه" itemValue="3"/>
                            <f:selectItem itemLabel="صفحه دوم شناسنامه" itemValue="4"/>
                            <f:selectItem itemLabel="صفحه سوم شناسنامه" itemValue="5"/>
                            <f:selectItem itemLabel="تصویر برگه سهام" itemValue="6"/>
                            <f:selectItem itemLabel="تصویر فیش واریزی" itemValue="7"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton ajax="false" actionListener="#{documentController.update}" value="#{bundle5.Save}" update="display,:DocumentListForm:datalist,:growl" oncomplete="handleSubmit(args, 'DocumentEditDialog');"/>
                    <p:commandButton type="button" value="#{bundle5.Cancel}" onclick="PF('DocumentEditDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
