<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/SuperAdmin/template.xhtml">


        <ui:define name="title">
            <h:outputText value="مدارک کاربران"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="DocumentListForm">
                <p:panel header="لیست مدارک ارسالی کاربران">
                    <p:dataTable id="datalist" value="#{documentController.items}" var="item"
                                 selectionMode="single" selection="#{documentController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="5"
                                 rowsPerPageTemplate="5,10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowDblselect" update=":DocumentViewForm" onsuccess="PF('DocumentViewDialog').show()"  />
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle5.ListDocumentTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle5.ListDocumentTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle5.ListDocumentTitle_file}"/>
                            </f:facet>
                            <p:graphicImage value="/images/document/#{item.file}" width="100px" height="100px"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle5.ListDocumentTitle_describtion}"/>
                            </f:facet>
                            <h:outputText value="#{item.describtion}"/>
                        </p:column>
                        
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle5.ListDocumentTitle_active}"/>
                            </f:facet>
                            <span style="color: #{item.active == false ? 'red' : '#005580' }">
                                #{item.active == false ? 'تائید نشده': 'تائید شده'}
                            </span>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle5.ListDocumentTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle5.ListDocumentTitle_deactiveDesc}"/>
                            </f:facet>
                            <h:outputText value="#{item.deactiveDesc}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle5.ListDocumentTitle_userId}"/>
                            </f:facet>
                            <h:outputText value="#{item.userId.name } #{item.userId.familyMfrs}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="نوع مدرک" />
                            </f:facet>
                            <h:outputText value="#{
                                          item.order == 1 ? 'تصویر روی کارت ملی':
                                              item.order == 2 ? 'تصویر پشت کارت ملی':
                                              item.order == 3 ? 'صفحه اول شناسنامه' : 
                                              item.order == 4 ? 'صفحه دوم شناسنامه' : 
                                              item.order == 5 ? 'صفحه سوم شناسنامه' :
                                              item.order == 6 ? 'تصویر برگه سهام':
                                              item.order == 7 ? 'تصویر فیش واریزی' : ''
                                            }" />
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle5.ListDocumentTitle_createdAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.createdAt}">
                                <f:converter converterId="persian_date" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle5.ListDocumentTitle_updatedAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.updatedAt}">
                                <f:converter converterId="persian_date" />
                            </h:outputText>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle5.Create}" actionListener="#{documentController.prepareCreate}" update=":DocumentCreateForm" oncomplete="PF('DocumentCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle5.View}" update=":DocumentViewForm" oncomplete="PF('DocumentViewDialog').show()" disabled="#{empty documentController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle5.Edit}" update=":DocumentEditForm" oncomplete="PF('DocumentEditDialog').show()" disabled="#{empty documentController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle5.Delete}" actionListener="#{documentController.destroy}" update=":growl,datalist" disabled="#{empty documentController.selected}">
                                <p:confirm message="آیا از حذف اطمینان دارید" />
                            </p:commandButton>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
