<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DocumentViewDlg" widgetVar="DocumentViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle5.ViewDocumentTitle}">
            <h:form id="DocumentViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid id="printarea" columns="2" rendered="#{documentController.selected != null}">
                        <p:panelGrid columns="2" >
                            <h:outputText value="#{bundle5.ViewDocumentLabel_id}"/>
                            <h:outputText value="#{documentController.selected.id}" title="#{bundle5.ViewDocumentTitle_id}"/>
                            <h:outputText value="#{bundle5.ViewDocumentLabel_describtion}"/>
                            <h:outputText value="#{documentController.selected.describtion}" title="#{bundle5.ViewDocumentTitle_describtion}"/>
                            <h:outputText value="#{bundle5.ViewDocumentLabel_createdAt}"/>
                            <h:outputText value="#{documentController.selected.createdAt}" title="#{bundle5.ViewDocumentTitle_createdAt}">
                                <f:converter converterId="persian_date" />
                            </h:outputText>
                            <h:outputText value="#{bundle5.ViewDocumentLabel_updatedAt}"/>
                            <h:outputText value="#{documentController.selected.updatedAt}" title="#{bundle5.ViewDocumentTitle_updatedAt}">
                                <f:converter converterId="persian_date" />
                            </h:outputText>
                            <h:outputText value="#{bundle5.ViewDocumentLabel_active}"/>
                            <p:selectBooleanCheckbox value="#{documentController.selected.active}" disabled="true"/>
                            <h:outputText value="#{bundle5.ViewDocumentLabel_deactiveDesc}"/>
                            <h:outputText value="#{documentController.selected.deactiveDesc}" title="#{bundle5.ViewDocumentTitle_deactiveDesc}"/>
                            <h:outputText value="#{bundle5.ViewDocumentLabel_userId}"/>
                            <h:outputText value="#{documentController.selected.userId}" title="#{bundle5.ViewDocumentTitle_userId}"/>
                            <h:outputText value="نوع مدرک"/>
                            <h:outputText value="#{
                                          documentController.selected.order == 1 ? 'تصویر روی کارت ملی':
                                              documentController.selected.order == 2 ? 'تصویر پشت کارت ملی':
                                              documentController.selected.order == 3 ? 'صفحه اول شناسنامه' : 
                                              documentController.selected.order == 4 ? 'صفحه دوم شناسنامه' : 
                                              documentController.selected.order == 5 ? 'صفحه سوم شناسنامه' :
                                              documentController.selected.order == 6 ? 'تصویر برگه سهام':
                                              documentController.selected.order == 7 ? 'تصویر فیش واریزی' : ''
                                            }" />
                        </p:panelGrid>
                        <p:panel>
                            <p:graphicImage value="/images/document/#{documentController.selected.file}" width="400px" height="auto" title="#{bundle5.ViewDocumentTitle_file}"/>
                        </p:panel>
                    </p:panelGrid>
                    <p:commandButton value="پرینت" >
                        <p:printer target="printarea" />
                    </p:commandButton>
                    <p:commandButton value="#{bundle5.Close}" onclick="PF('DocumentViewDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
