<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/SuperAdmin/index.xhtml">
        <ui:define name="head">
            <h:outputStylesheet library="css" name="bootstrap.min.css"/>
        </ui:define>
        <ui:define name="body">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-12">
                        
                    </div>
                    <div class="col-sm-12">
                        
                    </div>
                    <div class="col-sm-12">
                        
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>
