<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <meta name="charset" charset="utf-8"/>
        <link rel="stylesheet" href="resources/css/bootstrap.css" />
        <link rel="stylesheet" href="resources/css/FirstPage.css" />
    </h:head>
    <h:body>
        <p:growl id="growl"  />
        <div  style="background: url(resources/images/MilkPitcher.jpg);min-height: 100%;    background-size: auto 100%; background-repeat: no-repeat;background-position: 100%;">
            <div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 img-right" style="min-height: 400px">
                    <img src="resources/images/1.png" style="height: auto;width: 100%;margin-top: 15px"/>
                </div>

                <div class="col-lg-12" style="position: absolute;bottom: 0;min-height: 129px;right: 0;left: 0;padding: 0px;">
                    <h2 class="enjoy-css">Soltani Dairy Co.</h2>
                    <div class="col-lg-12" style="margin-top: 10px;margin-left: 0px;margin-right: 0px;background-color: #E9EDEE;    padding-top: 15px; padding-bottom: 10px;">
                        <a href="#{request.contextPath}/login/login.xhtml" style="color: white">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                                <div class="border" style="background: url(resources/images/test4.png);background-size: cover;">
                                    <p>ناحیه کاربری </p>
                                    <div class="child">  </div>
                                </div>
                            </div>
                        </a>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div data-toggle="modal" data-target="#MyModal" class="border" style="background: url(resources/images/test5.png);background-size: cover;">
                                <p style="margin-left: 16px;" >تماس با ما</p>
                                <div class="child"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="border" style="background: url(resources/images/test3.png);background-size: cover;">
                                <p style="margin-right: 6px;">ورود به سایت</p>
                                <div class="child"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="MyModal">
            <div class="modal-dialog " >
                <div class="">
                    <div class="modal-body">
                        <section id="hire">
                            <h1>ارتباط با ما</h1>

                            <h:form id="form_contact"  >
                                <div class="field name-box">
                                    <h:inputText id="name" value="#{main.contact.name}" a:placeholder="Who Are You?"/>
                                    <label for="name">نام</label>
                                    <span class="ss-icon" id="span1"><span class="glyphicon glyphicon-ok"></span></span>
                                </div>

                                <div class="field email-box">
                                    <h:inputText id="email" value="#{main.contact.email}" a:placeholder="name@email.com"/>
                                    <label for="email">ایمیل</label>
                                    <span class="ss-icon" id="span2"><span class="glyphicon glyphicon-ok"></span></span>
                                </div>

                                <div class="field mobile-box">
                                    <h:inputText id="mobile" value="#{main.contact.mobile}" a:placeholder="09123568595"/>
                                    <label for="mobile">تلفن همراه</label>
                                    <span class="ss-icon" id="span3"><span class="glyphicon glyphicon-ok"></span></span>
                                </div>

                                <div class="field msg-box">
                                    <h:inputTextarea id="msg" value="#{main.contact.msg}" a:placeholder="Your message goes here..."/>
                                    <label for="msg">پیام</label>
                                    <span class="ss-icon" ><span class="glyphicon glyphicon-ok"></span></span>
                                </div>
                                <p id="ErrorBox" style="color: #ff6666"></p>
                                <h:commandButton styleClass="button" action="#{main.create()}"  value="Send"  style="margin-top: 30px">
                                    <f:ajax render="growl @form" execute="@form" />
                                </h:commandButton>
                            </h:form>

                        </section>
                    </div>
                </div>
            </div>
        </div>
        <script src="resources/js/bootstrap.min.js"></script>
        <script src="resources/js/custom.js"></script>
    </h:body>
</html>
