<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"

      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Search Saham</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputStylesheet  library="css"  name="bootstrap.css" />
    </h:head>
    <body>
        <div class="col-lg-12" style="margin-top: 200px">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <h:form id="SahamSearchForm">
                    <p:commandButton action="#{search.setIsCompany(true)}">
                        <f:ajax execute="@form" render="forms" />
                    </p:commandButton>
                </h:form>
                <p:panel id="forms">
                    <c:if test="#{search.isCompany == true}">
                        <h:form id="FormSearchCompany" >
                            <h1>Form Company</h1>
                        </h:form>
                    </c:if>
                    <c:if test="#{search.isCompany != null}">
                        <h:form id="FormSearchCompany">
                            <p:panelGrid columns="2" style="direction: rtl">
                                <p:outputLabel for="family" value="نام خانوادگی" />
                                <h:inputText id="family" styleClass="form-control" value="#{search.family}" />
                                <p:outputLabel for="nationalCode" value="کدملی" />
                                <h:inputText value="#{search.nationalCode}" id="nationalCode" styleClass="form-control" />
                                <p:outputLabel for="ShCodeNum" value="شماره شناسنامه" />
                                <h:inputText value="#{search.shCodeNum}" id="ShCodeNum"  styleClass="form-control"/>
                            </p:panelGrid>
                            <h:commandButton value="Send" action="#{search.person}">
                                <f:ajax execute="@form" render="growl"/>
                            </h:commandButton>

                        </h:form>
                    </c:if>
                </p:panel>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
        <p:growl id="growl" life="3000" />
    </body>
</html>
