<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputStylesheet library="css" name="persianDatepicker-default.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
        <h:outputScript library="js" name="persianDatepicker.min.js"/>
    </h:head>
    <h:body>
        <p:growl id="growl" life="3000" />
        <h:form id="menuForm">
            <p:toolbar >
                <f:facet name="right">
                    <h:panelGrid columns="5" style="direction: rtl">
                        <p:commandButton value="صفحع اصلی" action="/index?faces-redirect=true" icon="ui-icon-home"/>
                        <p:commandButton value="سهام" action="/Admin/saham/List.xhtml?faces-redirect=true" />
                        <p:commandButton value="شهر" action="/Admin/city/List.xhtml?faces-redirect=true" />
                        <p:commandButton value="استان" action="/Admin/province/List.xhtml?faces-redirect=true" />
                        <p:commandButton value="کاربر" action="/Admin/users/List.xhtml?faces-redirect=true" />
                        <p:commandButton value="Logout" action="#{loginController.logout()}" />
                    </h:panelGrid>
                </f:facet>
            </p:toolbar>
        </h:form>
        <ui:insert name="body"/>
        <h:form>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="بله" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="خیر" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </h:form>

    </h:body>

</html>
